@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error - Tax App</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link href="../Theam/img/brand/favicon.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="../Theam/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="../Theam/vendor/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <!-- Argon CSS -->
    <link type="text/css" href="../Theam/css/argon.css?v=1.0.0" rel="stylesheet">
</head>
<body>
    <div class="header bg-gradient-primary py-7 py-lg-8">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6">
                        <h1 class="text-white">Error.</h1>
                        <h2 class="text-white">An error occurred while processing your request.</h2>
                        <p class="text-white">@ViewBag.Details</p>
                        <a href="../Home/Index"
   class="btn btn-sm btn-white">Return Home</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>
</html>

<!-- Argon Scripts -->
<!-- Core -->
<script src="../Theam/vendor/jquery/dist/jquery.min.js"></script>
<script src="../Theam/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- Optional JS -->
<script src="../Theam/vendor/chart.js/dist/Chart.min.js"></script>
<script src="../Theam/vendor/chart.js/dist/Chart.extension.js"></script>
<!-- Argon JS -->
<script src="../Theam/js/argon.js?v=1.0.0"></script>
