USE [master]
GO
/****** Object:  Database [TaxApp]    Script Date: 2019/08/20 18:22:10 ******/
CREATE DATABASE [TaxApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaxApp', FILENAME = N'F:\Google Drive\Visual Studio\TaxApp\TaxApp\TaxApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaxApp_log', FILENAME = N'F:\Google Drive\Visual Studio\TaxApp\TaxApp\TaxApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaxApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaxApp]
GO
/****** Object:  Table [dbo].[Business]    Script Date: 2019/08/20 18:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Business](
	[BussinessID] [int] IDENTITY(1000000000,1) NOT NULL,
	[VATRate] [decimal](4, 2) NOT NULL,
	[SMSSid] [varchar](max) NOT NULL,
	[SMSToken] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Business] PRIMARY KEY CLUSTERED 
(
	[BussinessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 2019/08/20 18:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1000000000,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[CompanyName] [varchar](50) NOT NULL,
	[ContactNumber] [nchar](10) NOT NULL,
	[EmailAddress] [varchar](50) NOT NULL,
	[PhysiclaAddress] [varchar](50) NOT NULL,
	[PreferedCommunicationChannel] [nchar](3) NOT NULL,
	[ProfileID] [int] NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailSettings]    Script Date: 2019/08/20 18:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailSettings](
	[ProfileID] [int] NOT NULL,
	[Address] [varchar](max) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Host] [varchar](50) NOT NULL,
	[Port] [varchar](50) NOT NULL,
	[EnableSsl] [bit] NOT NULL,
	[DeliveryMethod] [varchar](50) NOT NULL,
	[UseDefailtCredentials] [bit] NOT NULL,
 CONSTRAINT [PK_EmailSettings] PRIMARY KEY CLUSTERED 
(
	[ProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expense]    Script Date: 2019/08/20 18:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expense](
	[ExpenseID] [int] IDENTITY(1000000000,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[Description] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Expense] PRIMARY KEY CLUSTERED 
(
	[ExpenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenseCategory]    Script Date: 2019/08/20 18:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseCategory](
	[Name] [varchar](max) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[CategoryID] [int] IDENTITY(1000000000,1) NOT NULL,
 CONSTRAINT [PK_ExpenseCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralExpense]    Script Date: 2019/08/20 18:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralExpense](
	[ProfileID] [int] NOT NULL,
	[ExpenseID] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Amount] [money] NOT NULL,
	[Repeat] [bit] NOT NULL,
	[Invoice/ReceiptCopy] [varbinary](max) NULL,
	[FileName] [varchar](max) NULL,
	[PrimaryExpenseID] [int] NOT NULL,
 CONSTRAINT [PK_GeneralExpense] PRIMARY KEY CLUSTERED 
(
	[ProfileID] ASC,
	[ExpenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 2019/08/20 18:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceNum] [nchar](11) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[VATRate] [decimal](4, 2) NOT NULL,
	[Paid] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceLineItem]    Script Date: 2019/08/20 18:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceLineItem](
	[LineItemID] [int] IDENTITY(100000000,1) NOT NULL,
	[InvoiceNum] [nchar](11) NOT NULL,
	[Name] [nchar](50) NOT NULL,
	[UnitCount] [decimal](18, 2) NOT NULL,
	[UnitCost] [money] NOT NULL,
	[Type] [char](1) NOT NULL,
 CONSTRAINT [PK_InvoiceLineItem_1] PRIMARY KEY CLUSTERED 
(
	[LineItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobExpense]    Script Date: 2019/08/20 18:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobExpense](
	[JobID] [int] NOT NULL,
	[ExpenseID] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Amount] [money] NOT NULL,
	[Invoiced] [bit] NOT NULL,
	[Invoice/ReceiptCopy] [varbinary](max) NULL,
	[FileName] [varchar](max) NULL,
 CONSTRAINT [PK_JobExpense] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC,
	[ExpenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobHours]    Script Date: 2019/08/20 18:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobHours](
	[JobID] [int] NOT NULL,
	[LogItemID] [int] NOT NULL,
 CONSTRAINT [PK_JobHours] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC,
	[LogItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobInvoice]    Script Date: 2019/08/20 18:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobInvoice](
	[JobID] [int] NOT NULL,
	[InvoiceNum] [nchar](11) NOT NULL,
 CONSTRAINT [PK_JobInvoice] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC,
	[InvoiceNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 2019/08/20 18:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[JobID] [int] IDENTITY(100000000,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[JobTitle] [varchar](max) NOT NULL,
	[HourlyRate] [money] NULL,
	[Budget] [money] NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[Noti75] [bit] NOT NULL,
	[Noti90] [bit] NOT NULL,
	[Noti95] [bit] NOT NULL,
	[Noti100] [bit] NOT NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 2019/08/20 18:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationsID] [int] IDENTITY(1000000000,1) NOT NULL,
	[ProfileID] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Details] [varchar](max) NOT NULL,
	[Link] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profile]    Script Date: 2019/08/20 18:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile](
	[ProfileID] [int] IDENTITY(1000000000,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[CompanyName] [varchar](50) NULL,
	[EmailAddress] [varchar](50) NOT NULL,
	[ContactNumber] [nchar](10) NOT NULL,
	[PhysicalAddress] [varchar](1000) NULL,
	[ProfilePicture] [varbinary](max) NULL,
	[VATNumber] [nchar](30) NOT NULL,
	[DefaultHourlyRate] [money] NOT NULL,
	[Active] [bit] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[PassRestCode] [varchar](30) NULL,
	[VATRate] [decimal](4, 2) NULL,
 CONSTRAINT [PK_Profile_1] PRIMARY KEY CLUSTERED 
(
	[ProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaxAndVatPeriods]    Script Date: 2019/08/20 18:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaxAndVatPeriods](
	[PeriodID] [int] IDENTITY(1000000000,1) NOT NULL,
	[ProfileID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Type] [char](1) NOT NULL,
	[VATRate] [decimal](4, 2) NULL,
 CONSTRAINT [PK_TaxAndVatPeriods] PRIMARY KEY CLUSTERED 
(
	[PeriodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaxConsultant]    Script Date: 2019/08/20 18:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaxConsultant](
	[ProfileID] [int] NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[EmailAddress] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TaxConsultant] PRIMARY KEY CLUSTERED 
(
	[ProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaxPeriodRates]    Script Date: 2019/08/20 18:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaxPeriodRates](
	[PeriodID] [int] NOT NULL,
	[Rate] [decimal](4, 2) NOT NULL,
	[Threshold] [decimal](18, 2) NOT NULL,
	[Type] [char](1) NOT NULL,
	[RateID] [int] IDENTITY(1000000000,1) NOT NULL,
 CONSTRAINT [PK_TaxPeriodRates] PRIMARY KEY CLUSTERED 
(
	[RateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TravelLog]    Script Date: 2019/08/20 18:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TravelLog](
	[ExpenseID] [int] IDENTITY(1000000000,1) NOT NULL,
	[From] [varchar](max) NOT NULL,
	[To] [varchar](max) NOT NULL,
	[Reason] [varchar](max) NULL,
	[OpeningKMs] [decimal](12, 2) NOT NULL,
	[ClosingKMs] [decimal](12, 2) NULL,
	[VehicleID] [int] NOT NULL,
	[JobID] [int] NULL,
	[Invoiced] [bit] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_TravelExpense] PRIMARY KEY CLUSTERED 
(
	[ExpenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 2019/08/20 18:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[VehicleID] [int] IDENTITY(1000000000,1) NOT NULL,
	[Name] [nchar](30) NOT NULL,
	[SARSFixedCost] [money] NOT NULL,
	[SARSFuelCost] [money] NOT NULL,
	[SARSMaintenceCost] [money] NOT NULL,
	[ClientCharge] [money] NOT NULL,
	[ProfileID] [int] NOT NULL,
 CONSTRAINT [PK_Vehicle_1] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Worklog]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worklog](
	[LogItemID] [int] IDENTITY(1000000000,1) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[Invoiced] [bit] NOT NULL,
 CONSTRAINT [PK_Worklog] PRIMARY KEY CLUSTERED 
(
	[LogItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_addGeneralExpenseFile]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_addGeneralExpenseFile]
	@EID int,
	@IRC varbinary(MAX),
	@FN varchar(MAX)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

    UPDATE [GeneralExpense] 
	Set [Invoice/ReceiptCopy] = @IRC,
		[FileName] = @FN
    WHERE ExpenseID = @EID

		COMMIT TRANSACTION 
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_addJobExpenseFile]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_addJobExpenseFile]
	@EID int,
	@IRC varbinary(MAX),
	@FN varchar(MAX)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

    UPDATE [JobExpense] 
	Set [Invoice/ReceiptCopy] = @IRC,
		[FileName] = @FN
    WHERE ExpenseID = @EID

		COMMIT TRANSACTION 
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_DashboardIncomeExpense]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DashboardIncomeExpense]
	@PID int 
AS
BEGIN

	Select (Select sum((((InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost)/100)*VATRate)+(InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost))  
From Invoice, InvoiceLineItem, JobInvoice, Jobs, Client
Where Invoice.[Datetime] Between DATEADD(Month, -1, getdate()) and getdate()
	AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
	AND  Invoice.Paid = 1
	AND Invoice.InvoiceNum = JobInvoice.InvoiceNum
	AND JobInvoice.JobID = Jobs.JobID
	AND Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID) as TotalIncomePast30Days, 

(Select sum((((InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost)/100)*VATRate)+(InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost)) 
From Invoice, InvoiceLineItem, JobInvoice, Jobs, Client
Where Invoice.[Datetime] Between DATEADD(Month, -2, getdate()) and DATEADD(Month, -1, getdate())
	AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
	AND  Invoice.Paid = 1
	AND Invoice.InvoiceNum = JobInvoice.InvoiceNum
	AND JobInvoice.JobID = Jobs.JobID
	AND Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID) as TotalIncomePast60To30Days,

((Select sum(Amount) 
From Expense, JobExpense, Jobs, Client
Where Expense.ExpenseID = JobExpense.ExpenseID
	AND JobExpense.[Date] Between DATEADD(Month, -1, getdate()) and getdate()
	AND JobExpense.JobID = Jobs.JobID
	AND Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID) +
(Select sum(Amount) 
From Expense, GeneralExpense
Where Expense.ExpenseID = GeneralExpense.ExpenseID
	And GeneralExpense.ProfileID = @PID
	AND GeneralExpense.[Date] Between DATEADD(Month, -1, getdate()) and getdate()) +
(Select Sum((ClosingKMs - OpeningKMs) * (ClientCharge))
From TravelLog, Vehicle
Where TravelLog.VehicleID = Vehicle.VehicleID 
	And Vehicle.ProfileID = @PID
	AND TravelLog.[Date] Between DATEADD(Month, -1, getdate()) and getdate())) as TotalExpensePast30Days,

((Select sum(Amount) 
From Expense, JobExpense, Jobs, Client
Where Expense.ExpenseID = JobExpense.ExpenseID
	AND JobExpense.[Date] Between DATEADD(Month, -2, getdate()) and DATEADD(Month, -1, getdate())
	AND JobExpense.JobID = Jobs.JobID
	AND Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID) +
(Select sum(Amount) 
From Expense, GeneralExpense
Where Expense.ExpenseID = GeneralExpense.ExpenseID
	And GeneralExpense.ProfileID = @PID
	AND GeneralExpense.[Date] Between DATEADD(Month, -2, getdate()) and DATEADD(Month, -1, getdate()) +
(Select Sum((ClosingKMs - OpeningKMs) * (ClientCharge))
From TravelLog, Vehicle
Where TravelLog.VehicleID = Vehicle.VehicleID 
	AND TravelLog.[Date] Between DATEADD(Month, -2, getdate()) and DATEADD(Month, -1, getdate()))))  as TotalExpensePast60To30Days 

END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteNotification]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_DeleteNotification] 
	@NID int
AS
BEGIN
		Begin Transaction;
			Begin Try
				Select Link
				From Notifications
				Where (Notifications.NotificationsID = @NID)

				DELETE FROM Notifications
				Where (Notifications.NotificationsID = @NID)
			End try
		Begin Catch
			if @@TRANCOUNT > 0
				Begin
					ROLLBACK TRANSACTION
				End
		End Catch
commit Transaction
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteTravelLogItem]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_DeleteTravelLogItem] 
	@EID int
AS
BEGIN
		Begin Transaction;
			Begin Try
				DELETE FROM TravelLog
				Where (TravelLog.ExpenseID = @EID)
			End try
		Begin Catch
			if @@TRANCOUNT > 0
				Begin
					ROLLBACK TRANSACTION
				End
		End Catch
commit Transaction
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteWorkLogItem]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteWorkLogItem] 
	@ID int
AS
BEGIN
		Begin Transaction;
			Begin Try
				DELETE FROM Worklog
				Where (Worklog.LogItemID = @ID)

				DELETE FROM JobHours
				Where (JobHours.LogItemID = @ID)
			End try
		Begin Catch
			if @@TRANCOUNT > 0
				Begin
					ROLLBACK TRANSACTION
				End
		End Catch
commit Transaction
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EditClient]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_EditClient]
	@FN varchar(50),
	@LN Varchar(50),
	@CN varchar(50),
	@CNum nchar(10),
	@EA varchar(50),
	@PA varchar(50),
	@CID int
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

    UPDATE [Client] 
	Set FirstName = @FN,
		LastName = @LN,
		CompanyName = @CN,
		ContactNumber = @CNum,
		EmailAddress = @EA,
		PhysiclaAddress = @PA
    WHERE ClientID = @CID

		COMMIT TRANSACTION 
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EditJob]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_EditJob]
	@JT Varchar(Max),
	@HR money,
	@B money = 0,
	@JID int
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

    UPDATE [Jobs] 
	Set JobTitle = @JT,
		HourlyRate = @HR,
		Budget = @B
    WHERE JobID = @JID

		COMMIT TRANSACTION 
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EditJobNotiStatus]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_EditJobNotiStatus]
	@75 bit,
	@90 bit,
	@95 bit,
	@100 bit,
	@JID int
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

    UPDATE [Jobs] 
	Set Noti100 = @100,
		Noti75 = @75,
		Noti90 = @90,
		Noti95 = @95
    WHERE JobID = @JID

		COMMIT TRANSACTION 
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EditProfile]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EditProfile]
	@FN VARCHAR (50), @LN VARCHAR (50), @CN VARCHAR (50), @EM VARCHAR (50), 
	@CNum NCHAR (10), @PA VARCHAR (1000), @VATNum NCHAR (30), @DR MONEY, 
	@UN VARCHAR (50), @PID int, @Pass VARCHAR (Max)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

    UPDATE [Profile] 
	Set FirstName = @FN,
		LastName = @LN,
		CompanyName = @CN,
		EmailAddress = @EM,
		ContactNumber = @CNum,
		PhysicalAddress = @PA,
		VATNumber = @VATNum,
		DefaultHourlyRate = @DR,
		Username = @UN,
		[Password] = @Pass
    WHERE ProfileID = @PID

		COMMIT TRANSACTION 
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EditTaxConsultant]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EditTaxConsultant]
	@N varchar(Max),
	@EA varchar(50),
	@PID int
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

    UPDATE [TaxConsultant] 
	Set [Name] = @N,
		EmailAddress = @EA
    WHERE ProfileID = @PID

		COMMIT TRANSACTION 
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EditTravelExpense]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EditTravelExpense]
	@F varchar(Max),
	@T varchar(Max),
	@R varchar(Max),
	@OKM decimal(12, 2),
	@CKM decimal(12, 2),
	@VID int,
	@D date,
	@EID int
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

    UPDATE [TravelLog] 
	Set [From] = @F,
		[To] = @T, 
		Reason = @R, 
		OpeningKMs = @OKM, 
		ClosingKMs = @CKM, 
		VehicleID = @VID, 
		[Date] = @D
    WHERE ExpenseID = @EID

		COMMIT TRANSACTION 
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EditVehicle]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_EditVehicle]
	@N varchar(30),
	@FC money,
	@MC money,
	@FxC money,
	@VID int,
	@CC money
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

    UPDATE [Vehicle] 
	Set [Name] = @N,
		SARSFuelCost = @FC,
		SARSMaintenceCost = @MC,
		SARSFixedCost = @FxC,
		ClientCharge = @CC
    WHERE VehicleID = @VID

		COMMIT TRANSACTION 
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EditWorkLogItem]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_EditWorkLogItem]
	@D VARCHAR (MAX), @ST DATETIME, @ET DATETIME,
	@ID int
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

    UPDATE [Worklog] 
	Set [Description] = @D,
		StartTime = @ST,
		EndTime = @ET
    WHERE Worklog.LogItemID = @ID

		COMMIT TRANSACTION 
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetBussiness]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetBussiness]
AS
BEGIN
    SELECT TOP (1000) [BusinessID],
                      [VATRate],
                      [SMSSid],
                      [SMSToken]
    FROM   [TaxApp].[dbo].[Business];
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetClient]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetClient]
@CID INT
AS
BEGIN
    SELECT *
    FROM   Client
    WHERE  ClientID = @CID;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetClientReport]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetClientReport]
	@PID INT,
	@CID INT,
	@SD date,
	@ED date
AS
BEGIN
    SELECT Client.[ClientID], (Client.FirstName + ' ' + Client.LastName) as ClientName,
		Sum(Amount + ((ClientCharge) * (ClosingKMs - OpeningKMs))) as Expenses,
		Sum(InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost) as Income
	FROM   JobExpense, Jobs, Client, TravelLog, Vehicle, Invoice, InvoiceLineItem, JobInvoice
	WHERE  JobExpense.JobID = Jobs.JobID
		AND Jobs.ClientID = Client.ClientID
		AND TravelLog.JobID = Jobs.JobID
		AND TravelLog.VehicleID = Vehicle.VehicleID
		AND Invoice.InvoiceNum = JobInvoice.InvoiceNum
		AND JobInvoice.JobID = Jobs.JobID
		AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
		AND Invoice.[DateTime] between @SD and @ED
		AND JobExpense.[Date] between @SD and @ED
		AND TravelLog.[Date] between @SD and @ED
		AND (Client.ProfileID = @PID or Jobs.ClientID = @CID)
	Group By Client.ClientID, Client.FirstName, Client.LastName, jobs.JobID
	ORDER BY FirstName desc
END 

GO
/****** Object:  StoredProcedure [dbo].[SP_GetClientReportByClientByClient]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_GetClientReportByClientByClient]
	@PID INT,
	@CID INT,
	@SD date,
	@ED date
AS
BEGIN
    SELECT Client.[ClientID], (Client.FirstName + ' ' + Client.LastName) as ClientName,
		Sum(Amount + ((ClientCharge) * (ClosingKMs - OpeningKMs))) as Expenses,
		Sum(InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost) as Income
	FROM   JobExpense, Jobs, Client, TravelLog, Vehicle, Invoice, InvoiceLineItem, JobInvoice
	WHERE  JobExpense.JobID = Jobs.JobID
		AND Jobs.ClientID = Client.ClientID
		AND TravelLog.JobID = Jobs.JobID
		AND TravelLog.VehicleID = Vehicle.VehicleID
		AND Invoice.InvoiceNum = JobInvoice.InvoiceNum
		AND JobInvoice.JobID = Jobs.JobID
		AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
		AND Invoice.[DateTime] between @SD and @ED
		AND JobExpense.[Date] between @SD and @ED
		AND TravelLog.[Date] between @SD and @ED
		AND Client.ProfileID = @PID
		AND Jobs.ClientID = @CID
	Group By Client.ClientID, Client.FirstName, Client.LastName, Jobs.JobID
	ORDER BY FirstName desc
END 

GO
/****** Object:  StoredProcedure [dbo].[SP_GetClientReportIncome]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_GetClientReportIncome]
	@PID INT,
	@CID INT,
	@SD date,
	@ED date
AS
BEGIN
 SELECT Client.[ClientID], (Client.FirstName + ' ' + Client.LastName) as ClientName,
		Sum(InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost) as Income
	FROM   Jobs, Client, Invoice, InvoiceLineItem, JobInvoice
	WHERE  Jobs.ClientID = Client.ClientID
		AND Invoice.InvoiceNum = JobInvoice.InvoiceNum
		AND JobInvoice.JobID = Jobs.JobID
		AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
		AND Invoice.Paid = 1
		AND Invoice.[DateTime] between @SD and @ED
		AND (Client.ProfileID = @PID or Jobs.ClientID = @CID)
	Group By Client.ClientID, Client.FirstName, Client.LastName, jobs.JobID
	ORDER BY FirstName desc
END 

GO
/****** Object:  StoredProcedure [dbo].[SP_GetClientReportIncomeByClient]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_GetClientReportIncomeByClient]
	@PID INT,
	@CID INT,
	@SD date,
	@ED date
AS
BEGIN
 SELECT Client.[ClientID], (Client.FirstName + ' ' + Client.LastName) as ClientName,
		Sum(InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost) as Income
	FROM   Jobs, Client, Invoice, InvoiceLineItem, JobInvoice
	WHERE  Jobs.ClientID = Client.ClientID
		AND Invoice.InvoiceNum = JobInvoice.InvoiceNum
		AND JobInvoice.JobID = Jobs.JobID
		AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
		AND Invoice.Paid = 1
		AND Invoice.[DateTime] between @SD and @ED
		AND Client.ProfileID = @PID
		AND Jobs.ClientID = @CID
	Group By Client.ClientID, Client.FirstName, Client.LastName, jobs.JobID
	ORDER BY FirstName desc
END 

GO
/****** Object:  StoredProcedure [dbo].[SP_GetClientReportJobExpense]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_GetClientReportJobExpense]
	@PID INT,
	@CID INT,
	@SD date,
	@ED date
AS
BEGIN
SELECT Client.[ClientID], (Client.FirstName + ' ' + Client.LastName) as ClientName,
		Sum(Amount) as Expenses
	FROM   JobExpense, Jobs, Client
	WHERE  JobExpense.JobID = Jobs.JobID
		AND Jobs.ClientID = Client.ClientID	
		AND JobExpense.[Date] between @SD and @ED
		AND (Client.ProfileID = @PID or Jobs.ClientID = @CID)
	Group By Client.ClientID, Client.FirstName, Client.LastName, jobs.JobID
	ORDER BY FirstName desc
END 

GO
/****** Object:  StoredProcedure [dbo].[SP_GetClientReportJobExpenseByClient]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_GetClientReportJobExpenseByClient]
	@PID INT,
	@CID INT,
	@SD date,
	@ED date
AS
BEGIN
SELECT Client.[ClientID], (Client.FirstName + ' ' + Client.LastName) as ClientName,
		Sum(Amount) as Expenses
	FROM   JobExpense, Jobs, Client
	WHERE  JobExpense.JobID = Jobs.JobID
		AND Jobs.ClientID = Client.ClientID	
		AND JobExpense.[Date] between @SD and @ED
		AND Client.ProfileID = @PID
		AND Jobs.ClientID = @CID
	Group By Client.ClientID, Client.FirstName, Client.LastName, jobs.JobID
	ORDER BY FirstName desc
END 

GO
/****** Object:  StoredProcedure [dbo].[SP_GetClientReportTravelExpense]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetClientReportTravelExpense]
	@PID INT,
	@CID INT,
	@SD date,
	@ED date
AS
BEGIN
 SELECT Client.[ClientID], (Client.FirstName + ' ' + Client.LastName) as ClientName,
		Sum(((ClientCharge) * (ClosingKMs - OpeningKMs))) as Expenses
	FROM   Jobs, Client, TravelLog, Vehicle
	WHERE  Jobs.ClientID = Client.ClientID
		AND TravelLog.JobID = Jobs.JobID
		AND TravelLog.VehicleID = Vehicle.VehicleID
		AND TravelLog.[Date] between @SD and @ED
		AND Client.ProfileID = @PID or Jobs.ClientID = @CID
	Group By Client.ClientID, Client.FirstName, Client.LastName, jobs.JobID
	ORDER BY FirstName desc
END 

GO
/****** Object:  StoredProcedure [dbo].[SP_GetClientReportTravelExpenseByClient]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_GetClientReportTravelExpenseByClient]
	@PID INT,
	@CID INT,
	@SD date,
	@ED date
AS
BEGIN
 SELECT Client.[ClientID], (Client.FirstName + ' ' + Client.LastName) as ClientName,
		Sum(((ClientCharge) * (ClosingKMs - OpeningKMs))) as Expenses
	FROM   Jobs, Client, TravelLog, Vehicle
	WHERE  Jobs.ClientID = Client.ClientID
		AND TravelLog.JobID = Jobs.JobID
		AND TravelLog.VehicleID = Vehicle.VehicleID
		AND TravelLog.[Date] between @SD and @ED
		AND Client.ProfileID = @PID
		AND Jobs.ClientID = @CID
	Group By Client.ClientID, Client.FirstName, Client.LastName, jobs.JobID
	ORDER BY FirstName desc
END 

GO
/****** Object:  StoredProcedure [dbo].[SP_GetConsultant]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetConsultant]
@PI INT
AS
BEGIN
    SELECT *
    FROM   TaxConsultant
    WHERE  ProfileID = @PI;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetEmailSettings]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetEmailSettings]
@PI INT
AS
BEGIN
    SELECT *
    FROM   EmailSettings
    WHERE  ProfileID = @PI;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetExpenseCategorys]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetExpenseCategorys]
AS
BEGIN
    SELECT   *
    FROM     ExpenseCategory
    ORDER BY Name;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetGeneralExpense]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetGeneralExpense]
@EID INT
AS
BEGIN
    SELECT Expense.ExpenseID,
           Expense.CategoryID,
           Expense.[Name],
           Expense.[Description],
           GeneralExpense.ProfileID,
           GeneralExpense.[Date],
           GeneralExpense.Amount,
           GeneralExpense.[Repeat],
           GeneralExpense.[Invoice/ReceiptCopy],
           ExpenseCategory.[Name],
           ExpenseCategory.[Description]
    FROM   Expense, GeneralExpense, ExpenseCategory
    WHERE  Expense.ExpenseID = @EID
           AND Expense.ExpenseID = GeneralExpense.ExpenseID
           AND Expense.CategoryID = ExpenseCategory.CategoryID;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_getGeneralExpenseFile]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_getGeneralExpenseFile]
	@EID int
AS
BEGIN
	Select [Invoice/ReceiptCopy], [FileName]
	From GeneralExpense
	Where ExpenseID = @EID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetGeneralExpenses]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetGeneralExpenses]
	@PID INT,
	@SD date,
	@ED date
AS
BEGIN
    SELECT Expense.ExpenseID, Expense.CategoryID, Expense.[Name], Expense.[Description],
		GeneralExpense.ProfileID, GeneralExpense.[Date], GeneralExpense.Amount, GeneralExpense.[Repeat], GeneralExpense.[Invoice/ReceiptCopy],
		ExpenseCategory.[Name], ExpenseCategory.[Description], PrimaryExpenseID
    FROM   Expense, GeneralExpense, ExpenseCategory
    WHERE  GeneralExpense.ProfileID = @PID
			AND Expense.ExpenseID = GeneralExpense.ExpenseID
			AND Expense.CategoryID = ExpenseCategory.CategoryID
			and GeneralExpense.[Date] between @SD and @ED
			and (GeneralExpense.ExpenseID = GeneralExpense.PrimaryExpenseID
				or GeneralExpense.PrimaryExpenseID = 0)
	Order by GeneralExpense.[Date] desc
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_GetGeneralExpensesRepeatOccurrence]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_GetGeneralExpensesRepeatOccurrence]
	@EID INT
AS
BEGIN
    SELECT Expense.ExpenseID, Expense.CategoryID, Expense.[Name], Expense.[Description],
		GeneralExpense.ProfileID, GeneralExpense.[Date], GeneralExpense.Amount, GeneralExpense.[Repeat], GeneralExpense.[Invoice/ReceiptCopy],
		ExpenseCategory.[Name], ExpenseCategory.[Description], PrimaryExpenseID
    FROM   Expense, GeneralExpense, ExpenseCategory
    WHERE  Expense.ExpenseID = GeneralExpense.ExpenseID
			AND Expense.CategoryID = ExpenseCategory.CategoryID
			and GeneralExpense.PrimaryExpenseID = @EID
			And GeneralExpense.ExpenseID != GeneralExpense.PrimaryExpenseID
	Order by GeneralExpense.[Date] desc
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetGeneralExpensesReport]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_GetGeneralExpensesReport]
	@PID INT,
	@SD date,
	@ED date
AS
BEGIN
    SELECT Expense.ExpenseID, Expense.CategoryID, Expense.[Name], Expense.[Description],
		GeneralExpense.ProfileID, GeneralExpense.[Date], GeneralExpense.Amount, GeneralExpense.[Repeat], GeneralExpense.[Invoice/ReceiptCopy],
		ExpenseCategory.[Name], ExpenseCategory.[Description], PrimaryExpenseID
    FROM   Expense, GeneralExpense, ExpenseCategory
    WHERE  GeneralExpense.ProfileID = @PID
			AND Expense.ExpenseID = GeneralExpense.ExpenseID
			AND Expense.CategoryID = ExpenseCategory.CategoryID
			and GeneralExpense.[Date] between @SD and @ED
	Order by GeneralExpense.[Date] desc
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_GetIncomeRecivedList]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetIncomeRecivedList]
	@PID int,
	@SD  date,
	@ED date,
	@RID decimal(4,2)
AS
BEGIN
	Select Jobs.JobID, Jobs.JobTitle, Client.FirstName + ' ' + Client.LastName as Client, Client.ClientID, Invoice.[DateTime], 
	sum((InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost)) As Total,
	sum((((InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost))/100)*@RID) As TAX
From Jobs, Invoice, InvoiceLineItem, JobInvoice, Client
WHERE Jobs.JobID = JobInvoice.JobID
	AND JobInvoice.InvoiceNum = Invoice.InvoiceNum
	AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
	AND Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID
	AND Invoice.[Datetime] Between @SD and @ED
	AND Invoice.Paid = 1
Group by Jobs.JobTitle, Invoice.[DateTime], Jobs.JobID, Client.FirstName, Client.LastName, Client.ClientID
Order by Invoice.[DateTime]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetInvoice]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetInvoice]
	@IN nchar(11)
AS
BEGIN
	select Invoice.InvoiceNum, [DateTime], VATRate, Paid, [Type],
	   LineItemID, [Name], UnitCount, UnitCost, (UnitCount*UnitCost) as TotalCost,
	   Jobs.JobID, Jobs.JobTitle,
	   Client.ClientID, Client.FirstName +' '+ Client.LastName as [ClientName], Client.CompanyName,
		Client.EmailAddress, Client.PhysiclaAddress
	from Invoice, InvoiceLineItem, JobInvoice, Jobs, Client
	where Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
		AND Invoice.InvoiceNum = JobInvoice.InvoiceNum
		AND JobInvoice.JobID = Jobs.JobID
		AND Jobs.ClientID = Client.ClientID
		AND Invoice.InvoiceNum = @IN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetInvoiceAndReciptesGeneral]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetInvoiceAndReciptesGeneral]
	@PID int,
	@SD datetime,
	@ED datetime
AS
BEGIN
	select Expense.ExpenseID, Expense.[Name], [Date], [Invoice/ReceiptCopy], [FileName], ProfileID 
	From [TaxApp].[dbo].Expense, [TaxApp].[dbo].GeneralExpense
	where Expense.ExpenseID = GeneralExpense.ExpenseID
		And [Invoice/ReceiptCopy] is not NULL
		AND [Date] between @SD and @ED
		AND ProfileID = @PID
	Order by [Date]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetInvoiceAndReciptesJobs]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetInvoiceAndReciptesJobs]
	@PID int,
	@SD datetime,
	@ED datetime
AS
BEGIN
	select Expense.ExpenseID, Expense.[Name], [Date], [Invoice/ReceiptCopy], [FileName], ProfileID 
	From [TaxApp].[dbo].Expense, [TaxApp].[dbo].JobExpense, [TaxApp].[dbo].Jobs, [TaxApp].[dbo].Client
	where Expense.ExpenseID = JobExpense.ExpenseID
		And [Invoice/ReceiptCopy] is not NULL
		And Jobs.JobID = JobExpense.JobID
		AND Jobs.ClientID = Client.ClientID
		AND [Date] between @SD and @ED
		AND ProfileID = @PID
	Order by [Date]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetInvoiceCount]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetInvoiceCount]
AS
BEGIN
	select count(*)
	from Invoice
	Where [DateTime] between dateadd(day, datediff(day,1, GETDATE()),0) 
		and dateadd(day, datediff(day,-1, GETDATE()),0)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetInvoices]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetInvoices]
	@PID int
AS
BEGIN
	select Invoice.InvoiceNum, [DateTime], VATRate, Paid,
	   Jobs.JobID, Jobs.JobTitle,
	   Client.ClientID, Client.FirstName +' '+ Client.LastName as [ClientName], Client.CompanyName,
		Client.EmailAddress, Client.PhysiclaAddress,
		(select Sum(InvoiceLineItem.UnitCount * InvoiceLineItem.unitCost) 
		from InvoiceLineItem
		Where InvoiceLineItem.InvoiceNum = Invoice.InvoiceNum)as TotalCost
	from Invoice, JobInvoice, Jobs, Client
	where Invoice.InvoiceNum = JobInvoice.InvoiceNum
		AND JobInvoice.JobID = Jobs.JobID
		AND Jobs.ClientID = Client.ClientID
		AND Client.ProfileID = @PID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetInvoicesOutstanding]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_GetInvoicesOutstanding]
	@PID int
AS
BEGIN
	select Invoice.InvoiceNum, [DateTime], VATRate, Paid,
	   Jobs.JobID, Jobs.JobTitle,
	   Client.ClientID, Client.FirstName +' '+ Client.LastName as [ClientName], Client.CompanyName,
		Client.EmailAddress, Client.PhysiclaAddress,
		(select Sum(InvoiceLineItem.UnitCount * InvoiceLineItem.unitCost) 
		from InvoiceLineItem
		Where InvoiceLineItem.InvoiceNum = Invoice.InvoiceNum)as TotalCost
	from Invoice, JobInvoice, Jobs, Client
	where Invoice.InvoiceNum = JobInvoice.InvoiceNum
		AND JobInvoice.JobID = Jobs.JobID
		AND Jobs.ClientID = Client.ClientID
		AND Client.ProfileID = @PID
		AND Paid = 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetInvoicesPaid]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetInvoicesPaid]
	@PID int,
	@SD date,
	@ED date
AS
BEGIN
	select Invoice.InvoiceNum, [DateTime], VATRate, Paid,
	   Jobs.JobID, Jobs.JobTitle,
	   Client.ClientID, Client.FirstName +' '+ Client.LastName as [ClientName], Client.CompanyName,
		Client.EmailAddress, Client.PhysiclaAddress,
		(select Sum(InvoiceLineItem.UnitCount * InvoiceLineItem.unitCost) 
		from InvoiceLineItem
		Where InvoiceLineItem.InvoiceNum = Invoice.InvoiceNum)as TotalCost
	from Invoice, JobInvoice, Jobs, Client
	where Invoice.InvoiceNum = JobInvoice.InvoiceNum
		AND JobInvoice.JobID = Jobs.JobID
		AND Jobs.ClientID = Client.ClientID
		AND Client.ProfileID = @PID
		AND Paid = 1
				and Invoice.[DateTime] between @SD and @ED
	Order by [DateTime] desc
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetJob]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetJob]
@JID INT
AS
BEGIN
    SELECT [JobID],
           [JobTitle],
           [HourlyRate],
           [Budget],
           [StartDate],
           [EndDate],
           C.[ClientID],
           (C.FirstName + ' ' + C.LastName) as FirstName,
           (SELECT Sum(DATEDIFF(MINUTE, StartTime, EndTime))
            FROM   Worklog, JobHours
            WHERE  Worklog.LogItemID = JobHours.LogItemID
                   AND JobHours.JobID = @JID) AS WorkLogHours,
           (SELECT Sum(Amount)
            FROM   JobExpense
            WHERE  JobExpense.JobID = @JID) AS ExpenseTotal,
           (SELECT (((Sum(UnitCost * UnitCount)/100)*Invoice.VATRate)+Sum(UnitCost * UnitCount)) as TotalUnPaid
            FROM   [TaxApp].[dbo].[JobInvoice], [TaxApp].[dbo].Invoice, [TaxApp].[dbo].InvoiceLineItem
			WHERE  JobInvoice.JobID = @JID
                   AND JobInvoice.InvoiceNum = Invoice.InvoiceNum
				   AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
                   AND Invoice.Paid = 1
			GROUP BY Invoice.VATRate) AS TotalPaid,
           (SELECT (((Sum(InvoiceLineItem.UnitCost * UnitCount)/100)*Invoice.VATRate)+Sum(UnitCost * UnitCount)) as TotalUnPaid
            FROM   [TaxApp].[dbo].[JobInvoice], [TaxApp].[dbo].Invoice, [TaxApp].[dbo].InvoiceLineItem
			WHERE  JobInvoice.JobID = @JID
                   AND JobInvoice.InvoiceNum = Invoice.InvoiceNum
				   AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
                   AND Invoice.Paid = 0
			GROUP BY Invoice.VATRate) AS TotalUnPaid,
           (SELECT Sum((SARSMaintenceCost + SARSFuelCost) * (ClosingKMs - OpeningKMs))
            FROM   TravelLog, Vehicle
            WHERE  TravelLog.JobID = @JID
                   AND TravelLog.VehicleID = Vehicle.VehicleID) AS TravelLogCostTotal,
			Noti100, Noti75, Noti90, Noti95
    FROM   [TaxApp].[dbo].[Jobs], [TaxApp].[dbo].Client AS C
    WHERE  Jobs.JobID = @JID
           AND Jobs.ClientID = C.ClientID;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetJobExpenesForInvoice]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetJobExpenesForInvoice]
	@JID int
AS
BEGIN
	select Expense.ExpenseID, Expense.[Name], Amount 
from JobExpense, Expense
Where Expense.ExpenseID = JobExpense.ExpenseID
	AND Invoiced = 0
	AND JobExpense.JobID = @JID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetJobExpense]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetJobExpense]
@EID INT
AS
BEGIN
    SELECT Expense.ExpenseID,
           Expense.CategoryID,
           Expense.[Name],
           Expense.[Description],
           JobExpense.JobID,
           JobExpense.[Date],
           JobExpense.Amount,
           JobExpense.[Invoice/ReceiptCopy],
           ExpenseCategory.[Name],
           ExpenseCategory.[Description]
    FROM   Expense, JobExpense, ExpenseCategory
    WHERE  Expense.ExpenseID = @EID
           AND Expense.ExpenseID = JobExpense.ExpenseID
           AND Expense.CategoryID = ExpenseCategory.CategoryID;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_getJobExpenseFile]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_getJobExpenseFile]
	@EID int
AS
BEGIN
	Select [Invoice/ReceiptCopy], [FileName]
	From JobExpense
	Where ExpenseID = @EID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetJobExpenses]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetJobExpenses]
	@JID INT
AS
BEGIN
    SELECT Expense.ExpenseID, Expense.CategoryID, Expense.[Name], Expense.[Description],
		JobExpense.JobID, JobExpense.[Date], JobExpense.Amount, JobExpense.[Invoice/ReceiptCopy],
		ExpenseCategory.[Name], ExpenseCategory.[Description], Jobs.JobTitle
    FROM   Expense, JobExpense, ExpenseCategory, Jobs
    WHERE  JobExpense.JobID = @JID
			AND Expense.ExpenseID = JobExpense.ExpenseID
			AND Expense.CategoryID = ExpenseCategory.CategoryID
			AND JobExpense.JobID = Jobs.JobID
	Order by JobExpense.[Date] desc
END 

GO
/****** Object:  StoredProcedure [dbo].[SP_GetJobExpensesAllProfile]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetJobExpensesAllProfile]
	@PID INT,
	@SD Datetime,
	@ED Datetime

AS
BEGIN
    SELECT Expense.ExpenseID, Expense.CategoryID, Expense.[Name], Expense.[Description],
		JobExpense.JobID, JobExpense.[Date], JobExpense.Amount, JobExpense.[Invoice/ReceiptCopy],
		ExpenseCategory.[Name], ExpenseCategory.[Description], Jobs.JobTitle
    FROM   Expense, JobExpense, ExpenseCategory, Jobs, Client
    WHERE  Expense.ExpenseID = JobExpense.ExpenseID
			AND Expense.CategoryID = ExpenseCategory.CategoryID
			AND JobExpense.JobID = Jobs.JobID
			AND Jobs.ClientID = Client.ClientID
			AND Client.ProfileID = @PID
			AND JobExpense.[Date] between @SD and @ED
	Order by JobExpense.[Date] desc
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_GetJobHours]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetJobHours]
@JobID INT
AS
BEGIN
    SELECT *, DATEDIFF(MINUTE, StartTime, EndTime) AS WorkLogHours
    FROM   Worklog, JobHours
    WHERE  Worklog.LogItemID = JobHours.LogItemID
           AND JobHours.JobID = @JobID
	Order by Worklog.StartTime desc
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetJobHoursForInvoice]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetJobHoursForInvoice] 
	@JID int
AS
BEGIN
	SET NOCOUNT ON;
	Select Worklog.LogItemID, Worklog.[Description], Jobs.HourlyRate, DATEDIFF(MINUTE, StartTime, EndTime) AS WorkLogHours
	From Worklog, JobHours, Jobs
	WHERE  Worklog.LogItemID = JobHours.LogItemID
	And JobHours.JobID = Jobs.JobID
	AND Invoiced = 0
	AND JobHours.JobID = @JID
	Order by Worklog.StartTime
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetJobInvoices]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetJobInvoices]
	@JID int
AS
BEGIN
	select Invoice.InvoiceNum, [DateTime], VATRate, Paid,
	   Jobs.JobID, Jobs.JobTitle,
	   Client.ClientID, Client.FirstName +' '+ Client.LastName as [ClientName], Client.CompanyName,
		Client.EmailAddress, Client.PhysiclaAddress,
		(select Sum(InvoiceLineItem.UnitCount * InvoiceLineItem.unitCost) 
		from InvoiceLineItem
		Where InvoiceLineItem.InvoiceNum = Invoice.InvoiceNum)as TotalCost
	from Invoice, JobInvoice, Jobs, Client
	where Invoice.InvoiceNum = JobInvoice.InvoiceNum
		AND JobInvoice.JobID = Jobs.JobID
		AND Jobs.ClientID = Client.ClientID
		AND JobInvoice.JobID = @JID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetJobsReport]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_GetJobsReport]
	@PID INT,
	@CID INT,
	@SD date,
	@ED date
AS
BEGIN
    SELECT [JobID],
           [JobTitle],
           [HourlyRate],
           [Budget],
           [StartDate],
           [EndDate],
           C.[ClientID],
           (C.FirstName + ' ' + C.LastName) as FirstName,
		   (SELECT Sum(Amount)
            FROM   JobExpense
            WHERE  JobExpense.JobID = Jobs.JobID) AS ExpenseTotal,
           (SELECT Sum((SARSMaintenceCost + SARSFuelCost) * (ClosingKMs - OpeningKMs))
            FROM   TravelLog, Vehicle
            WHERE  TravelLog.JobID = Jobs.JobID
                   AND TravelLog.VehicleID = Vehicle.VehicleID) AS TravelLogCostTotal
    FROM   [TaxApp].[dbo].[Jobs], [TaxApp].[dbo].Client AS C
    WHERE  Jobs.ClientID = C.ClientID AND
			(ProfileID = @PID
		or Jobs.ClientID = @CID) 
		and C.ClientID = Jobs.ClientID
		and Jobs.StartDate between @SD and @ED
	ORDER BY Jobs.StartDate desc
END 

GO
/****** Object:  StoredProcedure [dbo].[SP_GetJobTravelForInvoice]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetJobTravelForInvoice] 
	@JID int
AS
BEGIN
	select ExpenseID, Reason, (ClosingKMs - OpeningKMs) as UnitKMs, (ClientCharge) as CostPerKM 
	from TravelLog, Vehicle
	Where Invoiced = 0
	AND TravelLog.VehicleID = Vehicle.VehicleID
	AND TravelLog.JobID = @JID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetJobTravleLog]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetJobTravleLog]
	@JID int
AS
BEGIN
	Select *, (TravelLog.ClosingKMs - TravelLog.OpeningKMs) as TotalKMs,
			 (Vehicle.SARSFuelCost * (TravelLog.ClosingKMs - TravelLog.OpeningKMs)) as SARSFuelCost,
			 (Vehicle.SARSMaintenceCost * (TravelLog.ClosingKMs - TravelLog.OpeningKMs)) as SARSMaintenceCost,
			 (Vehicle.ClientCharge * (TravelLog.ClosingKMs - TravelLog.OpeningKMs)) as ClientCharge
	From TravelLog, Vehicle
	Where JobID = @JID
		AND TravelLog.VehicleID = Vehicle.VehicleID
	Order by TravelLog.[Date] desc
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetLatestTaxAndVatPeriodID]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetLatestTaxAndVatPeriodID]
AS
BEGIN
	SELECT TOP 1 PeriodID FROM TaxAndVatPeriods ORDER BY PeriodID DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetLogItem]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetLogItem]
@LogID INT
AS
BEGIN
    SELECT *,
			(SELECT Sum(DATEDIFF(MINUTE, StartTime, EndTime))
            FROM   Worklog
            WHERE  Worklog.LogItemID = @LogID) AS WorkLogHours
    FROM   Worklog
    WHERE  Worklog.LogItemID = @LogID;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetNotifications]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetNotifications]
	@PID int
AS
BEGIN
	select *
	from Notifications
	Where ProfileID = @PID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetProfile]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetProfile]
@EM VARCHAR (50), @PI INT, @UN VARCHAR (50)
AS
BEGIN
    SELECT *
    FROM   Profile
    WHERE  ProfileID = @PI
           OR EmailAddress = @EM
           OR Username = @UN;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetProfileClients]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetProfileClients]
	@PID INT
AS
BEGIN
    SELECT *
    FROM   Client
    WHERE  ProfileID = @PID
	Order by FirstName
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetProfileJobsCurrent]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetProfileJobsCurrent]
	@PID INT,
	@CID INT
AS
BEGIN
    SELECT [JobID],
           [JobTitle],
           [HourlyRate],
           [Budget],
           [StartDate],
           [EndDate],
           C.[ClientID],
           (C.FirstName + ' ' + C.LastName) as FirstName,
		   (SELECT Sum(Amount)
            FROM   JobExpense
            WHERE  JobExpense.JobID = Jobs.JobID) AS ExpenseTotal,
           (SELECT Sum((SARSMaintenceCost + SARSFuelCost) * (ClosingKMs - OpeningKMs))
            FROM   TravelLog, Vehicle
            WHERE  TravelLog.JobID = Jobs.JobID
                   AND TravelLog.VehicleID = Vehicle.VehicleID) AS TravelLogCostTotal
    FROM   [TaxApp].[dbo].[Jobs], [TaxApp].[dbo].Client AS C
    WHERE  Jobs.ClientID = C.ClientID AND
			(ProfileID = @PID
		or Jobs.ClientID = @CID)
		and C.ClientID = Jobs.ClientID
		and Jobs.EndDate IS NULL
	ORDER BY Jobs.StartDate desc
END 

GO
/****** Object:  StoredProcedure [dbo].[SP_GetProfileJobsDashboard]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetProfileJobsDashboard]
	@PID INT,
	@CID INT
AS
BEGIN
    SELECT TOP 3
			[JobID],
           [JobTitle],
           [HourlyRate],
           [Budget],
           [StartDate],
           [EndDate],
           C.[ClientID],
           (C.FirstName + ' ' + C.LastName) as FirstName,
           (SELECT Sum(Amount)
            FROM   JobExpense
            WHERE  JobExpense.JobID = Jobs.JobID) AS ExpenseTotal,
           (SELECT Sum((SARSMaintenceCost + SARSFuelCost) * (ClosingKMs - OpeningKMs))
            FROM   TravelLog, Vehicle
            WHERE  TravelLog.JobID = Jobs.JobID
                   AND TravelLog.VehicleID = Vehicle.VehicleID) AS TravelLogCostTotal
    FROM   [TaxApp].[dbo].[Jobs], [TaxApp].[dbo].Client AS C
    WHERE  Jobs.ClientID = C.ClientID AND
			(ProfileID = @PID
		or Jobs.ClientID = @CID)
		and C.ClientID = Jobs.ClientID 
		and Jobs.EndDate IS NULL
	Order by Jobs.StartDate desc;
END 

GO
/****** Object:  StoredProcedure [dbo].[SP_GetProfileJobsPast]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetProfileJobsPast]
	@PID INT,
	@CID INT,
	@SD date,
	@ED date
AS
BEGIN
    SELECT [JobID],
           [JobTitle],
           [HourlyRate],
           [Budget],
           [StartDate],
           [EndDate],
           C.[ClientID],
           (C.FirstName + ' ' + C.LastName) as FirstName,
		   (SELECT Sum(Amount)
            FROM   JobExpense
            WHERE  JobExpense.JobID = Jobs.JobID) AS ExpenseTotal,
           (SELECT Sum((SARSMaintenceCost + SARSFuelCost) * (ClosingKMs - OpeningKMs))
            FROM   TravelLog, Vehicle
            WHERE  TravelLog.JobID = Jobs.JobID
                   AND TravelLog.VehicleID = Vehicle.VehicleID) AS TravelLogCostTotal
    FROM   [TaxApp].[dbo].[Jobs], [TaxApp].[dbo].Client AS C
    WHERE  Jobs.ClientID = C.ClientID AND
			(ProfileID = @PID
		or Jobs.ClientID = @CID) 
		and C.ClientID = Jobs.ClientID 
		and Jobs.EndDate IS NOT NULL
		and Jobs.StartDate between @SD and @ED
	ORDER BY Jobs.StartDate desc
END 

GO
/****** Object:  StoredProcedure [dbo].[SP_GetProfileTaxAndVatPeriods]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetProfileTaxAndVatPeriods]
	@PID int,
	@T char(1)
AS
BEGIN
	Select *
	From TaxAndVatPeriods
	Where ProfileID = @PID
		AND [Type] = @T
	Order by StartDate desc
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRepeatGeneralExpenses]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetRepeatGeneralExpenses]
AS
BEGIN
	SELECT Expense.ExpenseID, Expense.CategoryID, Expense.[Name], Expense.[Description],
		GeneralExpense.ProfileID, GeneralExpense.[Date], GeneralExpense.Amount, GeneralExpense.[Repeat], GeneralExpense.[Invoice/ReceiptCopy],
		ExpenseCategory.[Name], ExpenseCategory.[Description]
    FROM   Expense, GeneralExpense, ExpenseCategory
    WHERE  Expense.ExpenseID = GeneralExpense.ExpenseID
			AND Expense.CategoryID = ExpenseCategory.CategoryID
			AND GeneralExpense.Repeat = 1
			AND GeneralExpense.Date <= DATEADD(day, -30, getdate())
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTaxAndVatPeriod]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_GetTaxAndVatPeriod]
	@PID int
AS
BEGIN
	Select *
	From TaxAndVatPeriods
	Where PeriodID = @PID
	Order by StartDate desc
END
GO
/****** Object:  StoredProcedure [dbo].[SP_getTAXCenterDashboard]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_getTAXCenterDashboard]
	@PID int,
	@SD  date,
	@ED date,
	@TR decimal(4,2) = 0
AS
BEGIN
	Select (Select (Sum(InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost))
	- ((select Sum(GeneralExpense.Amount)
    FROM   Expense, GeneralExpense, ExpenseCategory
    WHERE  GeneralExpense.ProfileID = @PID
			AND Expense.ExpenseID = GeneralExpense.ExpenseID
			AND Expense.CategoryID = ExpenseCategory.CategoryID
			and GeneralExpense.[Date] between @SD and @ED)+
	(select Sum ((Vehicle.SARSFuelCost * (TravelLog.ClosingKMs - TravelLog.OpeningKMs))
		+(Vehicle.SARSMaintenceCost * (TravelLog.ClosingKMs - TravelLog.OpeningKMs)))
	From TravelLog, Client, [Profile], jobs, Vehicle
	Where TravelLog.JobID = Jobs.JobID
		 AND Jobs.ClientID = Client.ClientID
		 AND Client.ProfileID = Profile.ProfileID
		 AND TravelLog.VehicleID = Vehicle.VehicleID
		 AND Profile.ProfileID = @PID
			and [TravelLog].[Date] between @SD and @ED)+
	(select sum(JobExpense.Amount)
    FROM   Expense, JobExpense, ExpenseCategory, Jobs, Client
    WHERE  Expense.ExpenseID = JobExpense.ExpenseID
			AND Expense.CategoryID = ExpenseCategory.CategoryID
			AND JobExpense.JobID = Jobs.JobID
			AND Jobs.ClientID = Client.ClientID
			AND Client.ProfileID = @PID
			AND JobExpense.[Date] between @SD and @ED)) 
From Invoice, InvoiceLineItem, JobInvoice, Jobs, Client
Where Invoice.[Datetime] Between @SD and @ED
	AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
	AND  Invoice.Paid = 1
	AND Invoice.InvoiceNum = JobInvoice.InvoiceNum
	AND JobInvoice.JobID = Jobs.JobID
	AND Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID) as IncomeRECEIVED,

	(Select sum((((InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost))/100)*@TR)  
From Invoice, InvoiceLineItem, JobInvoice, Jobs, Client
Where Invoice.[Datetime] Between @SD and @ED
	AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
	AND  Invoice.Paid = 1
	AND Invoice.InvoiceNum = JobInvoice.InvoiceNum
	AND JobInvoice.JobID = Jobs.JobID
	AND Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID) as TaxOwed,

	(Select ((InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost))
	- ((select Sum(GeneralExpense.Amount)
    FROM   Expense, GeneralExpense, ExpenseCategory
    WHERE  GeneralExpense.ProfileID = @PID
			AND Expense.ExpenseID = GeneralExpense.ExpenseID
			AND Expense.CategoryID = ExpenseCategory.CategoryID
			and GeneralExpense.[Date] between @SD and @ED)+
	(select Sum ((Vehicle.SARSFuelCost * (TravelLog.ClosingKMs - TravelLog.OpeningKMs))
		+(Vehicle.SARSMaintenceCost * (TravelLog.ClosingKMs - TravelLog.OpeningKMs)))
	From TravelLog, Client, [Profile], jobs, Vehicle
	Where TravelLog.JobID = Jobs.JobID
		 AND Jobs.ClientID = Client.ClientID
		 AND Client.ProfileID = Profile.ProfileID
		 AND TravelLog.VehicleID = Vehicle.VehicleID
		 AND Profile.ProfileID = @PID
			and [TravelLog].[Date] between @SD and @ED)+
	(select sum(JobExpense.Amount)
    FROM   Expense, JobExpense, ExpenseCategory, Jobs, Client
    WHERE  Expense.ExpenseID = JobExpense.ExpenseID
			AND Expense.CategoryID = ExpenseCategory.CategoryID
			AND JobExpense.JobID = Jobs.JobID
			AND Jobs.ClientID = Client.ClientID
			AND Client.ProfileID = @PID
			AND JobExpense.[Date] between @SD and @ED)) 
From Invoice, InvoiceLineItem, JobInvoice, Jobs, Client
Where Invoice.[Datetime] Between DATEADD(DAY, (SELECT DATEDIFF(DAY, @ED, @SD)), @SD) and @SD
	AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
	AND  Invoice.Paid = 1
	AND Invoice.InvoiceNum = JobInvoice.InvoiceNum
	AND JobInvoice.JobID = Jobs.JobID
	AND Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID) as IncomeRECEIVEDPastPeriod,

	(Select sum((((InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost))/100)*@TR)  
From Invoice, InvoiceLineItem, JobInvoice, Jobs, Client
Where Invoice.[Datetime] Between DATEADD(DAY, (SELECT DATEDIFF(DAY, @ED, @SD)), @SD) and @SD
	AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
	AND  Invoice.Paid = 1
	AND Invoice.InvoiceNum = JobInvoice.InvoiceNum
	AND JobInvoice.JobID = Jobs.JobID
	AND Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID) as TaxOwedPastPeriod
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTaxPeriodBrakets]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetTaxPeriodBrakets] 
	@PID int
AS
BEGIN
	Select *
	From TaxPeriodRates
	Where PeriodID = @PID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTravleLog]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetTravleLog]
	@PID int,
	@SD date,
	@ED date
AS
BEGIN
	Select TravelLog.ExpenseID, TravelLog.[From], TravelLog.[To], TravelLog.Reason, 
			TravelLog.OpeningKMs, TravelLog.ClosingKMs, TravelLog.VehicleID,
			TravelLog.JobID, TravelLog.Invoiced, TravelLog.[Date],
			(TravelLog.ClosingKMs - TravelLog.OpeningKMs) as TotalKMs,
			 (Vehicle.SARSFuelCost * (TravelLog.ClosingKMs - TravelLog.OpeningKMs)) as SARSFuelCost,
			 (Vehicle.SARSMaintenceCost * (TravelLog.ClosingKMs - TravelLog.OpeningKMs)) as SARSMaintenceCost,
			 (Vehicle.ClientCharge * (TravelLog.ClosingKMs - TravelLog.OpeningKMs)) as ClientCharge,
			 Jobs.JobTitle
	From TravelLog, Client, [Profile], jobs, Vehicle
	Where TravelLog.JobID = Jobs.JobID
		 AND Jobs.ClientID = Client.ClientID
		 AND Client.ProfileID = Profile.ProfileID
		 AND TravelLog.VehicleID = Vehicle.VehicleID
		 AND Profile.ProfileID = @PID
			and [TravelLog].[Date] between @SD and @ED
	Order by TravelLog.[Date] desc
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTravleLogItem]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetTravleLogItem]
	@EID int
AS
BEGIN
	Select TravelLog.ExpenseID, TravelLog.[From], TravelLog.[To], TravelLog.Reason, 
			TravelLog.OpeningKMs, TravelLog.ClosingKMs, TravelLog.VehicleID,
			TravelLog.JobID, TravelLog.Invoiced, TravelLog.[Date],
			(TravelLog.ClosingKMs - TravelLog.OpeningKMs) as TotalKMs,
			 (Vehicle.SARSFuelCost * (TravelLog.ClosingKMs - TravelLog.OpeningKMs)) as SARSFuelCost,
			 (Vehicle.SARSMaintenceCost * (TravelLog.ClosingKMs - TravelLog.OpeningKMs)) as SARSMaintenceCost,
			 (Vehicle.ClientCharge * (TravelLog.ClosingKMs - TravelLog.OpeningKMs)) as ClientCharge,
			 Jobs.JobTitle, Vehicle.[Name]
	From TravelLog, Client, [Profile], jobs, Vehicle
	Where TravelLog.JobID = Jobs.JobID
		 AND Jobs.ClientID = Client.ClientID
		 AND Client.ProfileID = Profile.ProfileID
		 AND TravelLog.VehicleID = Vehicle.VehicleID
		 AND TravelLog.ExpenseID = @EID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_getVatCenterDashboard]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_getVatCenterDashboard]
	@PID int,
	@SD  date,
	@ED date,
	@PDID int,
	@VR decimal(4,2)
AS
BEGIN
	Select (Select sum((((InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost)/100)*@VR))  
From Invoice, InvoiceLineItem, JobInvoice, Jobs, Client
Where Invoice.[Datetime] Between @SD and @ED
	AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
	AND  Invoice.Paid = 1
	AND Invoice.InvoiceNum = JobInvoice.InvoiceNum
	AND JobInvoice.JobID = Jobs.JobID
	AND Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID) as VATRECEIVED,

	(Select sum((((InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost)/100)*@VR))  
From Invoice, InvoiceLineItem, JobInvoice, Jobs, Client
Where Invoice.[Datetime] Between DATEADD(DAY, (SELECT DATEDIFF(DAY, @ED, @SD)), @SD) and @SD
	AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
	AND  Invoice.Paid = 1
	AND Invoice.InvoiceNum = JobInvoice.InvoiceNum
	AND JobInvoice.JobID = Jobs.JobID
	AND Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID) as VATRECEIVEDPastPeriod,

(((Select sum(Amount) 
From Expense, JobExpense, Jobs, Client
Where Expense.ExpenseID = JobExpense.ExpenseID
	AND JobExpense.[Date] Between @SD and @ED
	AND JobExpense.JobID = Jobs.JobID
	AND Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID) +
((Select sum(Amount) 
From Expense, GeneralExpense
Where Expense.ExpenseID = GeneralExpense.ExpenseID
	And GeneralExpense.ProfileID = @PID
	AND GeneralExpense.[Date] Between @SD and @ED) +
(Select Sum((ClosingKMs - OpeningKMs) * (ClientCharge))
From TravelLog, Vehicle
Where TravelLog.VehicleID = Vehicle.VehicleID 
	And Vehicle.ProfileID = @PID
	AND TravelLog.[Date] Between @SD and @ED))) -

((Select sum(Amount) 
From Expense, JobExpense, Jobs, Client
Where Expense.ExpenseID = JobExpense.ExpenseID
	AND JobExpense.[Date] Between @SD and @ED
	AND JobExpense.JobID = Jobs.JobID
	AND Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID) +
((Select sum(Amount) 
From Expense, GeneralExpense
Where Expense.ExpenseID = GeneralExpense.ExpenseID
	And GeneralExpense.ProfileID = @PID
	AND GeneralExpense.[Date] Between @SD and @ED) +
(Select Sum((ClosingKMs - OpeningKMs) * (ClientCharge))
From TravelLog, Vehicle
Where TravelLog.VehicleID = Vehicle.VehicleID 
	And Vehicle.ProfileID = @PID
	AND TravelLog.[Date] Between @SD and @ED))) / 
	(((@VR)/100)+1))
	 as VATPAID,

	 (((Select sum(Amount) 
From Expense, JobExpense, Jobs, Client
Where Expense.ExpenseID = JobExpense.ExpenseID
	AND JobExpense.[Date] Between DATEADD(DAY, (SELECT DATEDIFF(DAY, @ED, @SD)), @SD) and @SD
	AND JobExpense.JobID = Jobs.JobID
	AND Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID) +
((Select sum(Amount) 
From Expense, GeneralExpense
Where Expense.ExpenseID = GeneralExpense.ExpenseID
	And GeneralExpense.ProfileID = @PID
	AND GeneralExpense.[Date] Between DATEADD(DAY, (SELECT DATEDIFF(DAY, @ED, @SD)), @SD) and @SD) +
(Select Sum((ClosingKMs - OpeningKMs) * (ClientCharge))
From TravelLog, Vehicle
Where TravelLog.VehicleID = Vehicle.VehicleID 
	And Vehicle.ProfileID = @PID
	AND TravelLog.[Date] Between DATEADD(DAY, (SELECT DATEDIFF(DAY, @ED, @SD)), @SD) and @SD))) -

((Select sum(Amount) 
From Expense, JobExpense, Jobs, Client
Where Expense.ExpenseID = JobExpense.ExpenseID
	AND JobExpense.[Date] Between DATEADD(DAY, (SELECT DATEDIFF(DAY, @ED, @SD)), @SD) and @SD
	AND JobExpense.JobID = Jobs.JobID
	AND Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID) +
((Select sum(Amount) 
From Expense, GeneralExpense
Where Expense.ExpenseID = GeneralExpense.ExpenseID
	And GeneralExpense.ProfileID = @PID
	AND GeneralExpense.[Date] Between DATEADD(DAY, (SELECT DATEDIFF(DAY, @ED, @SD)), @SD) and @SD) +
(Select Sum((ClosingKMs - OpeningKMs) * (ClientCharge))
From TravelLog, Vehicle
Where TravelLog.VehicleID = Vehicle.VehicleID 
	And Vehicle.ProfileID = @PID
	AND TravelLog.[Date] Between DATEADD(DAY, (SELECT DATEDIFF(DAY, @ED, @SD)), @SD) and @SD))) / 
	(((@VR)/100)+1))
	 as VATPAIDPreviousPeriod
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetVATRecivedList]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetVATRecivedList]
	@PID int,
	@SD  date,
	@ED date
AS
BEGIN
	Select Jobs.JobID, Jobs.JobTitle, Client.FirstName + ' ' + Client.LastName as Client, Client.ClientID, Invoice.[DateTime], 
	sum((((InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost)/100)*VATRate)+(InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost)) As Total,
	sum((((InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost)/100)*VATRate)) As VAT
From Jobs, Invoice, InvoiceLineItem, JobInvoice, Client
WHERE Jobs.JobID = JobInvoice.JobID
	AND JobInvoice.InvoiceNum = Invoice.InvoiceNum
	AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
	AND Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID
	AND Invoice.[Datetime] Between @SD and @ED
	AND Invoice.Paid = 1
Group by Jobs.JobTitle, Invoice.[DateTime], Jobs.JobID, Client.FirstName, Client.LastName, Client.ClientID
Order by Invoice.[DateTime]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetVehicle]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_GetVehicle]
	@VID INT
AS
BEGIN
    SELECT *
    FROM   Vehicle
	Where VehicleID = @VID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetVehicles]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetVehicles]
	@PID INT
AS
BEGIN
    SELECT *
    FROM   Vehicle
	Where ProfileID = @PID
	order by [Name]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IncomeDashboard]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IncomeDashboard]
	@PID int 
AS
BEGIN

	Select (Select sum((((InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost)/100)*VATRate)+(InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost))  
From Invoice, InvoiceLineItem, JobInvoice, Jobs, Client
Where Invoice.[Datetime] Between DATEADD(Month, -1, getdate()) and getdate()
	AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
	AND  Invoice.Paid = 1
	AND Invoice.InvoiceNum = JobInvoice.InvoiceNum
	AND JobInvoice.JobID = Jobs.JobID
	AND Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID) as TotalIncomePast30Days, 

(Select sum((((InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost)/100)*VATRate)+(InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost))
From Invoice, InvoiceLineItem, JobInvoice, Jobs, Client
Where Invoice.[Datetime] Between DATEADD(Month, -2, getdate()) and DATEADD(Month, -1, getdate())
	AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
	AND  Invoice.Paid = 1
	AND Invoice.InvoiceNum = JobInvoice.InvoiceNum
	AND JobInvoice.JobID = Jobs.JobID
	AND Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID) as TotalIncomePast60To30Days,

(Select sum((((InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost)/100)*VATRate)+(InvoiceLineItem.UnitCount * InvoiceLineItem.UnitCost))  
From Invoice, InvoiceLineItem, JobInvoice, Jobs, Client
Where Invoice.[Datetime] Between DATEADD(Month, -1, getdate()) and getdate()
	AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
	AND  Invoice.Paid = 0
	AND Invoice.InvoiceNum = JobInvoice.InvoiceNum
	AND JobInvoice.JobID = Jobs.JobID
	AND Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID) as TotalOutIncome 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_JobEarnings]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_JobEarnings] 
	@PID INT, 
	@SD Datetime, 
	@ED Datetime
AS
BEGIN
	SELECT Jobs.JobID, Jobs.StartDate, Jobs.JobTitle, (Sum(UnitCost * UnitCount)) as TotalUnPaid
            FROM   [TaxApp].[dbo].[JobInvoice], [TaxApp].[dbo].Invoice, [TaxApp].[dbo].InvoiceLineItem, [TaxApp].[dbo].Jobs, Client
			WHERE  JobInvoice.InvoiceNum = Invoice.InvoiceNum
				   AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
                   AND Invoice.Paid = 1
					AND Jobs.JobID = JobInvoice.JobID
				   AND (Jobs.ClientID = Client.ClientID)
				   AND Client.ProfileID = @PID
				   AND Invoice.[DateTime] between @SD and @ED
			Group by Jobs.JobID, Jobs.JobTitle, Jobs.StartDate, Invoice.VATRate
END
GO
/****** Object:  StoredProcedure [dbo].[SP_MarkInvoiceAsPaid]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_MarkInvoiceAsPaid]
	@INum nchar(11)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

    UPDATE [Invoice] 
	Set [Paid] = 1
    WHERE InvoiceNum = @INum

		COMMIT TRANSACTION 
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_MarkJobAsComplete]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_MarkJobAsComplete]
	@JID int
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

    UPDATE [Jobs] 
	Set EndDate = GETDATE()
    WHERE JobID = @JID

		COMMIT TRANSACTION 
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_NewClient]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewClient]
@FN VARCHAR (50), @LN VARCHAR (50), @CN VARCHAR (50), @CNum NCHAR (10), @EA VARCHAR (50), @PA VARCHAR (50), @PC NCHAR (3), @PI INT
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
        INSERT  INTO [Client] (FirstName, LastName, CompanyName, ContactNumber, EmailAddress, PhysiclaAddress, PreferedCommunicationChannel, ProfileID)
        VALUES               (@FN, @LN, @CN, @CNum, @EA, @PA, @PC, @PI);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NewConsultant]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewConsultant]
@EA VARCHAR (50), @PI INT, @N VARCHAR (MAX)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
        INSERT  INTO [TaxConsultant] (Name, EmailAddress, ProfileID)
        VALUES                      (@N, @EA, @PI);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NewEmailSettings]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewEmailSettings]
@PI INT, @A VARCHAR (MAX), @Pass VARCHAR (MAX), @H VARCHAR (50), @P VARCHAR (50), @ESsl BIT, @DM VARCHAR (50), @UDC BIT
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
        INSERT  INTO [EmailSettings] (ProfileID, Address, Password, Host, Port, EnableSsl, DeliveryMethod, UseDefailtCredentials)
        VALUES                      (@PI, @A, @Pass, @H, @P, @ESsl, @DM, @UDC);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NewGeneralExpense]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewGeneralExpense]
	@CID INT, @N VARCHAR (MAX), @D VARCHAR (MAX), @PID INT, @Date DATETIME, @A MONEY, @R BIT, @PEID int
AS
BEGIN
BEGIN TRY
		BEGIN TRANSACTION
			INSERT  INTO [Expense] (CategoryID, [Name], [Description])
			VALUES                (@CID, @N, @D);

			declare @NPEID int;
			set @NPEID = (Select SCOPE_IDENTITY())

			INSERT  INTO [GeneralExpense] (ProfileID, ExpenseID, [Date], Amount, [Repeat], [Invoice/ReceiptCopy], PrimaryExpenseID)
			VALUES       (@PID, @NPEID, @Date, @A, @R, NULL, 0);

			UPDATE [GeneralExpense] 
			Set PrimaryExpenseID = @NPEID
			WHERE PrimaryExpenseID = @PEID
					or ExpenseID = @PEID
COMMIT TRANSACTION 
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NewInvoice]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewInvoice] 
	@JID int,
	@INum nchar(11)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT  INTO [JobInvoice] (JobID, InvoiceNum)
        VALUES                (@JID, @INum);

        INSERT  INTO [Invoice] (InvoiceNum, [DateTime], VATRate, Paid)
        VALUES                 (@INum, (select GETDATE()),
								(select VATRate 
									from [Profile], Jobs, Client 
									where [Profile].ProfileID = Client.ProfileID
										AND Client.ClientID = Jobs.ClientID
										AND Jobs.JobID = @JID)
								, 0);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NewInvoiceDetailLine]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewInvoiceDetailLine]
	@INum nchar(11),
	@ID int,
	@Name nchar(50),
	@UnitCount decimal(18, 2),
	@UnitCost decimal(18, 2),
	@T char
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT  INTO [InvoiceLineItem] (InvoiceNum, [Name], UnitCount, UnitCost, [Type])
        VALUES       (@INum, @Name, @UnitCount, @UnitCost, @T);

		Update [JobExpense]
		Set invoiced = 1
		from JobExpense, Expense
		Where JobExpense.ExpenseID = @ID
				And Expense.ExpenseID = JobExpense.ExpenseID
				And Expense.[Name] = @Name

		Update [TravelLog]
		Set invoiced = 1
		Where TravelLog.ExpenseID = @ID
			And TravelLog.Reason = @Name

		Update [WorkLog]
		Set invoiced = 1
		Where Worklog.LogItemID = @ID
			And Worklog.[Description] = @Name

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NewJob]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewJob]
	@CI int,
	@JT Varchar(Max),
	@HR money,
	@B money = 0,
	@SD datetime
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
    INSERT  INTO [Jobs] (ClientID, JobTitle, HourlyRate, Budget, StartDate, Noti100, Noti75, Noti90, Noti95)
    VALUES (@CI, @JT, @HR, @B, @SD, 0,0,0,0);
COMMIT TRANSACTION 
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
	END

GO
/****** Object:  StoredProcedure [dbo].[SP_NewJobExpense]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewJobExpense]
@CID INT, @N VARCHAR (MAX), @D VARCHAR (MAX), @JID INT, @Date DATETIME, @A MONEY
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
        INSERT  INTO [Expense] (CategoryID, [Name], [Description])
        VALUES                (@CID, @N, @D);
        INSERT  INTO [JobExpense] (JobID, ExpenseID, [Date], Amount, [Invoice/ReceiptCopy], Invoiced)
        VALUES                   (@JID, (SELECT SCOPE_IDENTITY()), @Date, @A, NULL, 0);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NewNotification]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewNotification]
	@PID int,
	@D DateTime,
	@Dets Varchar(Max),
	@L Varchar(max)
AS
BEGIN
	BEGIN TRY
        BEGIN TRANSACTION;
        INSERT  INTO [Notifications](ProfileID, [Date], Details, Link)
        VALUES       (@PID, @D, @Dets, @L);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_NewPeriodTaxBraket]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_NewPeriodTaxBraket]
	@PID INT, @R Decimal(4,2), @T Decimal(18,2), @Ty Char(1)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT  INTO [TaxPeriodRates] (PeriodID, Rate, Threshold, [Type])
        VALUES                (@PID, @R, @T, @TY);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NewProfile]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewProfile]
@FN VARCHAR (50), @LN VARCHAR (50), @CN VARCHAR (50), @EM VARCHAR (50), @CNum NCHAR (10), @PA VARCHAR (1000), @VATNum NCHAR (30), @DR MONEY, @UN VARCHAR (50), @Pass VARCHAR (MAX)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
        INSERT  INTO [Profile] (FirstName, LastName, CompanyName, EmailAddress, ContactNumber, PhysicalAddress, VATNumber, DefaultHourlyRate, Active, Username, [Password])
        VALUES                (@FN, @LN, @CN, @EM, @CNum, @PA, @VATNum, @DR, 1, @UN, @Pass);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NewTaxOrVatPeriod]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewTaxOrVatPeriod]
	@PID int,
	@SD Date,
	@ED Date,
	@T char(1)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
    INSERT  INTO [TaxAndVatPeriods] (ProfileID, StartDate, EndDate, [Type], VATRate)
    VALUES (@PID, @SD, @ED, @T, (Select VATRate
								FROM [Profile]
								Where ProfileID = @PID));
COMMIT TRANSACTION 
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
	END

GO
/****** Object:  StoredProcedure [dbo].[SP_NewTravelExpense]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewTravelExpense]
	@F varchar(Max),
	@T varchar(Max),
	@R varchar(Max),
	@OKM decimal(12, 2),
	@CKM decimal(12, 2),
	@VID int,
	@JID int,
	@D date
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

    INSERT  INTO [TravelLog] ([From], [To], Reason, OpeningKMs, ClosingKMs, VehicleID, JobID, Invoiced, [Date])
    VALUES (@F, @T, @R, @OKM, @CKM, @VID, @JID, 0, @D);

		COMMIT TRANSACTION 
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_NewVehicle]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewVehicle]
	@N varchar(30),
	@FC money,
	@MC money,
	@FxC money,
	@PID int,
	@CC money
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
    INSERT  INTO [Vehicle] ([Name], SARSFuelCost, SARSMaintenceCost, SARSFixedCost, ProfileID, ClientCharge)
    VALUES (@N, @FC, @MC, @FxC, @PID, @CC);

		COMMIT TRANSACTION 
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_NewWorkLogItem]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewWorkLogItem]
@JID INT, @D VARCHAR (MAX), @ST DATETIME, @ET DATETIME
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT  INTO [Worklog] ([Description], StartTime, EndTime, Invoiced)
        VALUES                (@D, @ST, @ET, 0);

        INSERT  INTO [JobHours] (JobID, LogItemID)
        VALUES                 (@JID, (SELECT @@IDENTITY));

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SearchClients]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SearchClients]
	@ST varchar(max),
	@PID int
AS
BEGIN

select ClientID, Client.FirstName + ' ' + Client.LastName as [Name], CompanyName
From Client
where (Client.CompanyName like '%'+@ST+'%'
	or Client.FirstName like '%'+@ST+'%'
	or Client.LastName like '%'+@ST+'%'
	or Client.EmailAddress like '%'+@ST+'%'
	or Client.PhysiclaAddress like '%'+@ST+'%')
	And Client.ProfileID = @PID
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SearchGeneralExpenses]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SearchGeneralExpenses]
	@ST varchar(max),
	@PID int,
	@SD DateTime,
	@ED Datetime
AS
BEGIN
	select Expense.ExpenseID, Expense.[Name], Expense.[Description], GeneralExpense.[Date]
From Expense, ExpenseCategory, GeneralExpense
where (Expense.[Description] like '%'+@ST+'%'
	or Expense.[Name] like '%'+@ST+'%'
	or ExpenseCategory.[Description] like '%'+@ST+'%'
	or ExpenseCategory.[Name] like '%'+@ST+'%')
	AND Expense.CategoryID = ExpenseCategory.CategoryID
	And Expense.ExpenseID = GeneralExpense.ExpenseID
	AND GeneralExpense.ProfileID = @PID
	AND GeneralExpense.[Date] between @SD and @ED
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SearchInvoice]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SearchInvoice]
	@ST varchar(max),
	@PID int,
	@SD DateTime,
	@ED Datetime
AS
BEGIN
	select Invoice.InvoiceNum, JobTitle, Client.FirstName + ' ' + Client.LastName as [Name],  StartDate 
From Jobs, Client, Invoice, InvoiceLineItem, JobInvoice
where (JobTitle like '%'+@ST+'%'
	or Client.CompanyName like '%'+@ST+'%'
	or Client.FirstName like '%'+@ST+'%'
	or Client.LastName like '%'+@ST+'%'
	or Client.EmailAddress like '%'+@ST+'%'
	or Client.PhysiclaAddress like '%'+@ST+'%'
	or InvoiceLineItem.[Name] like '%'+@ST+'%')
	And Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID
	AND Jobs.JobID = JobInvoice.JobID
	AND JobInvoice.InvoiceNum = Invoice.InvoiceNum
	AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
	AND StartDate between @SD and @ED
Group by Invoice.InvoiceNum, JobTitle, Client.FirstName, Client.LastName,  StartDate
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SearchJobExpenses]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SearchJobExpenses]
	@ST varchar(max),
	@PID int,
	@SD DateTime,
	@ED Datetime
AS
BEGIN
	select Expense.ExpenseID, Expense.[Name], Expense.[Description], JobExpense.[Date]
From Expense, ExpenseCategory, JobExpense, Jobs, Client
where (Expense.[Description] like '%'+@ST+'%'
	or Expense.[Name] like '%'+@ST+'%'
	or ExpenseCategory.[Description] like '%'+@ST+'%'
	or ExpenseCategory.[Name] like '%'+@ST+'%')
	AND Expense.CategoryID = ExpenseCategory.CategoryID
	And Expense.ExpenseID = JobExpense.ExpenseID
	AND Client.ProfileID = @PID
	AND JobExpense.JobID = Jobs.JobID
	AND Jobs.ClientID = Client.ClientID
	and JobExpense.[Date] between @SD and @ED
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SearchJobs]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SearchJobs]
	@ST varchar(max),
	@PID int,
	@SD DateTime,
	@ED Datetime
AS
BEGIN
	select JobID, JobTitle, Client.FirstName + ' ' + Client.LastName as [Name],  StartDate 
From Jobs, Client
where (JobTitle like '%'+@ST+'%'
	or Client.CompanyName like '%'+@ST+'%'
	or Client.FirstName like '%'+@ST+'%'
	or Client.LastName like '%'+@ST+'%'
	or Client.EmailAddress like '%'+@ST+'%'
	or Client.PhysiclaAddress like '%'+@ST+'%')
	And Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID
	AND Jobs.StartDate between @SD and @ED
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SearchTaxConsultant]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SearchTaxConsultant]
	@ST varchar(max),
	@PID int
AS
BEGIN
	select TaxConsultant.[Name]
From TaxConsultant
where (TaxConsultant.[Name] like '%'+@ST+'%'
	or TaxConsultant.EmailAddress like '%'+@ST+'%')
	And TaxConsultant.ProfileID = @PID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SearchTravelLog]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SearchTravelLog]
	@ST varchar(max),
	@PID int,
	@SD DateTime,
	@ED Datetime
AS
BEGIN
	select TravelLog.ExpenseID, TravelLog.Reason, 'From: '+ TravelLog.[From] + ' To: '+ TravelLog.[To] as Details, TravelLog.[Date]
From TravelLog, Jobs, Client, Vehicle
where (TravelLog.Reason like '%'+@ST+'%'
	or TravelLog.[From] like '%'+@ST+'%'
	or Vehicle.[Name] like '%'+@ST+'%')
	AND Client.ProfileID = @PID
	AND TravelLog.JobID = Jobs.JobID
	AND Jobs.ClientID = Client.ClientID
	AND TravelLog.VehicleID = Vehicle.VehicleID
	AND TravelLog.[Date] between @SD and @ED
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SearchWorkLog]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SearchWorkLog]
	@ST varchar(max),
	@PID int,
	@SD DateTime,
	@ED Datetime
AS
BEGIN
	select WorkLog.LogItemID, Worklog.[Description], Jobs.JobTitle +' For: '+ Client.FirstName + ' ' + Client.LastName as [JobClient],  Worklog.StartTime 
From Jobs, Client, JobHours, Worklog
where (JobTitle like '%'+@ST+'%'
	or Client.CompanyName like '%'+@ST+'%'
	or Client.FirstName like '%'+@ST+'%'
	or Client.LastName like '%'+@ST+'%'
	or Client.EmailAddress like '%'+@ST+'%'
	or Client.PhysiclaAddress like '%'+@ST+'%')
	And Jobs.ClientID = Client.ClientID
	And Client.ProfileID = @PID
	AND Jobs.JobID = JobHours.JobID
	And JobHours.LogItemID = Worklog.LogItemID
	And Worklog.StartTime between @SD and @ED
Group by  WorkLog.LogItemID, Worklog.[Description], Jobs.JobTitle, Client.FirstName, Client.LastName,  Worklog.StartTime
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TotalPaid]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TotalPaid] 
	@PID INT,
	@CID INT
AS
BEGIN
	SELECT Jobs.JobID,(((Sum(UnitCost * UnitCount)/100)*Invoice.VATRate)+Sum(UnitCost * UnitCount)) AS TotalPaid
            FROM   JobInvoice, Invoice, InvoiceLineItem, Jobs, Client
			WHERE  JobInvoice.InvoiceNum = Invoice.InvoiceNum
				   AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
				   AND JobInvoice.JobID = Jobs.JobID
				   AND Jobs.ClientID = Client.ClientID
				   AND (Client.ProfileID = @PID or Jobs.ClientID = @CID)
                   AND Invoice.Paid = 1
			GROUP BY Invoice.VATRate, Jobs.JobID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TotalPaidPast]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TotalPaidPast] 
	@PID INT,
	@CID INT,
	@SD date,
	@ED date
AS
BEGIN
	SELECT Jobs.JobID,(((Sum(UnitCost * UnitCount)/100)*Invoice.VATRate)+Sum(UnitCost * UnitCount)) AS TotalPaid
            FROM   JobInvoice, Invoice, InvoiceLineItem, Jobs, Client
			WHERE  JobInvoice.InvoiceNum = Invoice.InvoiceNum
				   AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
				   AND JobInvoice.JobID = Jobs.JobID
				   AND Jobs.ClientID = Client.ClientID
				   AND (Client.ProfileID = @PID or Jobs.ClientID = @CID)
                   AND Invoice.Paid = 1
				and Jobs.StartDate between @SD and @ED
			GROUP BY Invoice.VATRate, Jobs.JobID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TotalUnPaid]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_TotalUnPaid] 
	@PID INT,
	@CID INT
AS
BEGIN
	SELECT Jobs.JobID,(((Sum(UnitCost * UnitCount)/100)*Invoice.VATRate)+Sum(UnitCost * UnitCount)) AS TotalUnPaid
            FROM   JobInvoice, Invoice, InvoiceLineItem, Jobs, Client
			WHERE  JobInvoice.InvoiceNum = Invoice.InvoiceNum
				   AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
				   AND JobInvoice.JobID = Jobs.JobID
				   AND Jobs.ClientID = Client.ClientID
				   AND (Client.ProfileID = @PID or Jobs.ClientID = @CID)
                   AND Invoice.Paid = 1
			GROUP BY Invoice.VATRate, Jobs.JobID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TotalUnPaidPast]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TotalUnPaidPast] 
	@PID INT,
	@CID INT,
	@SD date,
	@ED date
AS
BEGIN
	SELECT Jobs.JobID,(((Sum(UnitCost * UnitCount)/100)*Invoice.VATRate)+Sum(UnitCost * UnitCount)) AS TotalUnPaid
            FROM   JobInvoice, Invoice, InvoiceLineItem, Jobs, Client
			WHERE  JobInvoice.InvoiceNum = Invoice.InvoiceNum
				   AND Invoice.InvoiceNum = InvoiceLineItem.InvoiceNum
				   AND JobInvoice.JobID = Jobs.JobID
				   AND Jobs.ClientID = Client.ClientID
				   AND (Client.ProfileID = @PID or Jobs.ClientID = @CID)
                   AND Invoice.Paid = 0
				and Jobs.StartDate between @SD and @ED
			GROUP BY Invoice.VATRate, Jobs.JobID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateGeneralExpenseRepeate]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateGeneralExpenseRepeate]
	@EID int
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

    UPDATE [GeneralExpense] 
	Set Repeat = 0
    WHERE ExpenseID = @EID

		COMMIT TRANSACTION 
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_WorklogHours]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_WorklogHours] 
	@PID INT,
	@CID INT, @SD datetime, @ED datetime
AS
BEGIN
	select Jobs.JobID, Jobs.StartDate, Jobs.JobTitle, (sum(DATEDIFF(MINUTE, StartTime, EndTime))) As WorkLogHours
		   from Worklog, JobHours, Jobs, Client
		   Where JobHours.LogItemID = Worklog.LogItemID
				AND JobHours.JobID = Jobs.JobID
				AND Jobs.ClientID = Client.ClientID
				And (Client. ProfileID = @PID or
					Client.ClientID = @CID)
			Group by Jobs.JobID, Jobs.JobTitle, Jobs.StartDate
END
GO
/****** Object:  StoredProcedure [dbo].[SP_WorklogHoursPast]    Script Date: 2019/08/20 18:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_WorklogHoursPast]
	@PID INT,
	@CID INT,
	@SD date,
	@ED date
AS
BEGIN
	select JobHours.JobID, sum(DATEDIFF(MINUTE, StartTime, EndTime)) as WorkLogHours
		   from Worklog, JobHours, Jobs, Client
		   Where JobHours.LogItemID = Worklog.LogItemID
				AND JobHours.JobID = Jobs.JobID
				AND Jobs.ClientID = Client.ClientID
				And (Client. ProfileID = @PID or
					Client.ClientID = @CID)
				AND Jobs.EndDate is not null
				and Jobs.StartDate between @SD and @ED
		   group by JobHours.JobID
END
GO
USE [master]
GO
