USE [master]
GO
/****** Object:  Database [TaxApp]    Script Date: 2019/07/03 17:30:27 ******/
CREATE DATABASE [TaxApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaxApp', FILENAME = N'F:\Google Drive\Visual Studio\TaxApp\TaxApp\TaxApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaxApp_log', FILENAME = N'F:\Google Drive\Visual Studio\TaxApp\TaxApp\TaxApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaxApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaxApp]
GO
/****** Object:  Table [dbo].[Business]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Business](
	[BussinessID] [int] IDENTITY(1000000000,1) NOT NULL,
	[VATRate] [decimal](4, 2) NOT NULL,
	[SMSSid] [varchar](max) NOT NULL,
	[SMSToken] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Business] PRIMARY KEY CLUSTERED 
(
	[BussinessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1000000000,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[CompanyName] [varchar](50) NOT NULL,
	[ContactNumber] [nchar](10) NOT NULL,
	[EmailAddress] [varchar](50) NOT NULL,
	[PhysiclaAddress] [varchar](50) NOT NULL,
	[PreferedCommunicationChannel] [nchar](3) NOT NULL,
	[ProfileID] [int] NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailSettings]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailSettings](
	[ProfileID] [int] NOT NULL,
	[Address] [varchar](max) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Host] [varchar](50) NOT NULL,
	[Port] [varchar](50) NOT NULL,
	[EnableSsl] [bit] NOT NULL,
	[DeliveryMethod] [varchar](50) NOT NULL,
	[UseDefailtCredentials] [bit] NOT NULL,
 CONSTRAINT [PK_EmailSettings] PRIMARY KEY CLUSTERED 
(
	[ProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expense]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expense](
	[ExpenseID] [int] IDENTITY(1000000000,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[Description] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Expense] PRIMARY KEY CLUSTERED 
(
	[ExpenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenseCategory]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseCategory](
	[Name] [varchar](max) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[CategoryID] [int] IDENTITY(1000000000,1) NOT NULL,
 CONSTRAINT [PK_ExpenseCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralExpense]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralExpense](
	[ProfileID] [int] NOT NULL,
	[ExpenseID] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Amount] [money] NOT NULL,
	[Repeat] [bit] NOT NULL,
	[Invoice/ReceiptCopy] [varbinary](max) NULL,
 CONSTRAINT [PK_GeneralExpense] PRIMARY KEY CLUSTERED 
(
	[ProfileID] ASC,
	[ExpenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceNum] [nchar](11) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[VATRate] [decimal](4, 2) NOT NULL,
	[Paid] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceLineItem]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceLineItem](
	[LineItemID] [int] IDENTITY(100000000,1) NOT NULL,
	[InvoiceNum] [nchar](11) NOT NULL,
	[Name] [nchar](50) NOT NULL,
	[UnitCount] [int] NOT NULL,
	[UnitCost] [money] NOT NULL,
 CONSTRAINT [PK_InvoiceLineItem_1] PRIMARY KEY CLUSTERED 
(
	[LineItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobExpense]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobExpense](
	[JobID] [int] NOT NULL,
	[ExpenseID] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Amount] [money] NOT NULL,
	[Invoice/ReceiptCopy] [varbinary](max) NULL,
	[Invoiced] [bit] NOT NULL,
 CONSTRAINT [PK_JobExpense] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC,
	[ExpenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobHours]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobHours](
	[JobID] [int] NOT NULL,
	[LogItemID] [int] NOT NULL,
 CONSTRAINT [PK_JobHours] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC,
	[LogItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobInvoice]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobInvoice](
	[JobID] [int] NOT NULL,
	[InvoiceNum] [nchar](11) NOT NULL,
 CONSTRAINT [PK_JobInvoice] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC,
	[InvoiceNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[JobID] [int] IDENTITY(100000000,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[JobTitle] [varchar](max) NOT NULL,
	[HourlyRate] [money] NULL,
	[Budget] [money] NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profile]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile](
	[ProfileID] [int] IDENTITY(1000000000,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[CompanyName] [varchar](50) NULL,
	[EmailAddress] [varchar](50) NOT NULL,
	[ContactNumber] [nchar](10) NOT NULL,
	[PhysicalAddress] [varchar](1000) NULL,
	[ProfilePicture] [varbinary](max) NULL,
	[VATNumber] [nchar](30) NOT NULL,
	[DefaultHourlyRate] [money] NOT NULL,
	[Active] [bit] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[PassRestCode] [varchar](30) NULL,
 CONSTRAINT [PK_Profile_1] PRIMARY KEY CLUSTERED 
(
	[ProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaxConsultant]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaxConsultant](
	[ProfileID] [int] NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[EmailAddress] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TaxConsultant] PRIMARY KEY CLUSTERED 
(
	[ProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TravelLog]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TravelLog](
	[ExpenseID] [int] IDENTITY(1000000000,1) NOT NULL,
	[From] [varchar](max) NOT NULL,
	[To] [varchar](max) NOT NULL,
	[Reason] [varchar](max) NULL,
	[OpeningKMs] [decimal](12, 2) NOT NULL,
	[ClosingKMs] [decimal](12, 2) NULL,
	[VehicleID] [int] NOT NULL,
	[JobID] [int] NULL,
	[Invoiced] [bit] NOT NULL,
 CONSTRAINT [PK_TravelExpense] PRIMARY KEY CLUSTERED 
(
	[ExpenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[VehicleID] [int] IDENTITY(1000000000,1) NOT NULL,
	[Name] [nchar](30) NOT NULL,
	[SARSFixedCost] [money] NOT NULL,
	[SARSFuelCost] [money] NOT NULL,
	[SARSMaintenceCost] [money] NOT NULL,
	[ClientCharge] [money] NOT NULL,
	[ProfileID] [int] NOT NULL,
 CONSTRAINT [PK_Vehicle_1] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Worklog]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worklog](
	[LogItemID] [int] IDENTITY(1000000000,1) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[Invoiced] [bit] NOT NULL,
 CONSTRAINT [PK_Worklog] PRIMARY KEY CLUSTERED 
(
	[LogItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetBussiness]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetBussiness]
AS
BEGIN
    SELECT TOP (1000) [BusinessID],
                      [VATRate],
                      [SMSSid],
                      [SMSToken]
    FROM   [TaxApp].[dbo].[Business];
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetClient]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetClient]
@CID INT
AS
BEGIN
    SELECT *
    FROM   Client
    WHERE  ClientID = @CID;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetConsultant]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetConsultant]
@PI INT
AS
BEGIN
    SELECT *
    FROM   TaxConsultant
    WHERE  ProfileID = @PI;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetEmailSettings]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetEmailSettings]
@PI INT
AS
BEGIN
    SELECT *
    FROM   EmailSettings
    WHERE  ProfileID = @PI;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetExpenseCategorys]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetExpenseCategorys]
AS
BEGIN
    SELECT   *
    FROM     ExpenseCategory
    ORDER BY Name;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetGeneralExpense]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetGeneralExpense]
@EID INT
AS
BEGIN
    SELECT Expense.ExpenseID,
           Expense.CategoryID,
           Expense.[Name],
           Expense.[Description],
           GeneralExpense.ProfileID,
           GeneralExpense.[Date],
           GeneralExpense.Amount,
           GeneralExpense.[Repeat],
           GeneralExpense.[Invoice/ReceiptCopy],
           ExpenseCategory.[Name],
           ExpenseCategory.[Description]
    FROM   Expense, GeneralExpense, ExpenseCategory
    WHERE  Expense.ExpenseID = @EID
           AND Expense.ExpenseID = GeneralExpense.ExpenseID
           AND Expense.CategoryID = ExpenseCategory.CategoryID;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetGeneralExpenses]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetGeneralExpenses]
@PID INT
AS
BEGIN
    SELECT Expense.ExpenseID,
           Expense.CategoryID,
           Expense.[Name],
           Expense.[Description],
           GeneralExpense.ProfileID,
           GeneralExpense.[Date],
           GeneralExpense.Amount,
           GeneralExpense.[Repeat],
           GeneralExpense.[Invoice/ReceiptCopy],
           ExpenseCategory.[Name],
           ExpenseCategory.[Description]
    FROM   Expense, GeneralExpense, ExpenseCategory
    WHERE  GeneralExpense.ProfileID = @PID
           AND Expense.ExpenseID = GeneralExpense.ExpenseID
           AND Expense.CategoryID = ExpenseCategory.CategoryID;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetInvoiceCount]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetInvoiceCount]
AS
BEGIN
	select count(*)
	from Invoice
	Where [DateTime] between dateadd(day, datediff(day,1, GETDATE()),0) 
		and dateadd(day, datediff(day,-1, GETDATE()),0)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetJob]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetJob]
@JID INT
AS
BEGIN
    SELECT [JobID],
           [JobTitle],
           [HourlyRate],
           [Budget],
           [StartDate],
           [EndDate],
           C.[ClientID],
           C.FirstName,
           (SELECT Sum(DATEDIFF(MINUTE, StartTime, EndTime))
            FROM   Worklog, JobHours
            WHERE  Worklog.LogItemID = JobHours.LogItemID
                   AND JobHours.JobID = @JID) AS WorkLogHours,
           (SELECT Sum(Amount)
            FROM   JobExpense
            WHERE  JobExpense.JobID = @JID) AS ExpenseTotal,
           (SELECT Sum(UnitCost * UnitCount)
            FROM   JobInvoice, Invoice, InvoiceLineItem
            WHERE  JobInvoice.JobID = @JID
                   AND JobInvoice.InvoiceNum = Invoice.InvoiceNum
                   AND Paid = 1) AS TotalPaid,
           (SELECT Sum(UnitCost * UnitCount)
            FROM   JobInvoice, Invoice, InvoiceLineItem
            WHERE  JobInvoice.JobID = @JID
                   AND JobInvoice.InvoiceNum = Invoice.InvoiceNum
                   AND Paid = 1) AS TotalUnPaid,
           (SELECT Sum((SARSMaintenceCost + SARSFuelCost) * (ClosingKMs - OpeningKMs))
            FROM   TravelLog, Vehicle
            WHERE  TravelLog.JobID = @JID
                   AND TravelLog.VehicleID = Vehicle.VehicleID) AS TravelLogCostTotal
    FROM   [TaxApp].[dbo].[Jobs], [TaxApp].[dbo].Client AS C
    WHERE  Jobs.JobID = @JID
           AND Jobs.ClientID = C.ClientID;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetJobExpenesForInvoice]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetJobExpenesForInvoice]
	@JID int
AS
BEGIN
	select Expense.ExpenseID, Expense.[Name], Amount 
from JobExpense, Expense
Where Expense.ExpenseID = JobExpense.ExpenseID
	AND Invoiced = 0
	AND JobExpense.JobID = @JID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetJobExpense]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetJobExpense]
@EID INT
AS
BEGIN
    SELECT Expense.ExpenseID,
           Expense.CategoryID,
           Expense.[Name],
           Expense.[Description],
           JobExpense.JobID,
           JobExpense.[Date],
           JobExpense.Amount,
           JobExpense.[Invoice/ReceiptCopy],
           ExpenseCategory.[Name],
           ExpenseCategory.[Description]
    FROM   Expense, JobExpense, ExpenseCategory
    WHERE  Expense.ExpenseID = @EID
           AND Expense.ExpenseID = JobExpense.ExpenseID
           AND Expense.CategoryID = ExpenseCategory.CategoryID;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetJobExpenses]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetJobExpenses]
@JID INT
AS
BEGIN
    SELECT Expense.ExpenseID,
           Expense.CategoryID,
           Expense.[Name],
           Expense.[Description],
           JobExpense.JobID,
           JobExpense.[Date],
           JobExpense.Amount,
           JobExpense.[Invoice/ReceiptCopy],
           ExpenseCategory.[Name],
           ExpenseCategory.[Description]
    FROM   Expense, JobExpense, ExpenseCategory
    WHERE  JobExpense.JobID = @JID
           AND Expense.ExpenseID = JobExpense.ExpenseID
           AND Expense.CategoryID = ExpenseCategory.CategoryID;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetJobHours]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetJobHours]
@JobID INT
AS
BEGIN
    SELECT *, 
			(SELECT Sum(DATEDIFF(MINUTE, StartTime, EndTime))
            FROM   Worklog, JobHours
            WHERE  Worklog.LogItemID = JobHours.LogItemID
                   AND JobHours.JobID = @JobID) AS WorkLogHours
    FROM   Worklog, JobHours
    WHERE  Worklog.LogItemID = JobHours.LogItemID
           AND JobHours.JobID = @JobID
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetJobHoursForInvoice]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_GetJobHoursForInvoice] 
	@JID int
AS
BEGIN
	SET NOCOUNT ON;
	Select Worklog.LogItemID, Worklog.[Description], Jobs.HourlyRate, 
		(SELECT Sum(DATEDIFF(MINUTE, StartTime, EndTime))
		FROM   Worklog) AS WorkLogHours
	From Worklog, JobHours, Jobs
	WHERE  Worklog.LogItemID = JobHours.LogItemID
	And JobHours.JobID = Jobs.JobID
	AND Invoiced = 0
	AND JobHours.JobID = @JID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetJobTravelForInvoice]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetJobTravelForInvoice] 
	@JID int
AS
BEGIN
	select ExpenseID, Reason, (ClosingKMs - OpeningKMs) as UnitKMs, (ClientCharge) as CostPerKM 
	from TravelLog, Vehicle
	Where Invoiced = 0
	AND TravelLog.VehicleID = Vehicle.VehicleID
	AND TravelLog.JobID = @JID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetLogItem]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetLogItem]
@LogID INT
AS
BEGIN
    SELECT *,
			(SELECT Sum(DATEDIFF(MINUTE, StartTime, EndTime))
            FROM   Worklog
            WHERE  Worklog.LogItemID = @LogID) AS WorkLogHours
    FROM   Worklog
    WHERE  Worklog.LogItemID = @LogID;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetProfile]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetProfile]
@EM VARCHAR (50), @PI INT, @UN VARCHAR (50)
AS
BEGIN
    SELECT *
    FROM   Profile
    WHERE  ProfileID = @PI
           OR EmailAddress = @EM
           OR Username = @UN;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetProfileClients]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetProfileClients]
@PID INT
AS
BEGIN
    SELECT *
    FROM   Client
    WHERE  ProfileID = @PID;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetProfileJobs]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetProfileJobs]
@PID INT, @CID INT
AS
BEGIN
    SELECT *
    FROM   Jobs, Client
    WHERE  (ProfileID = @PID
            OR Jobs.ClientID = @CID)
           AND Client.ClientID = Jobs.ClientID;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetVehicles]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetVehicles]
	@PID INT
AS
BEGIN
    SELECT *
    FROM   Vehicle
	Where ProfileID = @PID
	order by [Name]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_NewClient]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewClient]
@FN VARCHAR (50), @LN VARCHAR (50), @CN VARCHAR (50), @CNum NCHAR (10), @EA VARCHAR (50), @PA VARCHAR (50), @PC NCHAR (3), @PI INT
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
        INSERT  INTO [Client] (FirstName, LastName, CompanyName, ContactNumber, EmailAddress, PhysiclaAddress, PreferedCommunicationChannel, ProfileID)
        VALUES               (@FN, @LN, @CN, @CNum, @EA, @PA, @PC, @PI);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NewConsultant]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewConsultant]
@EA VARCHAR (50), @PI INT, @N VARCHAR (MAX)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
        INSERT  INTO [TaxConsultant] (Name, EmailAddress, ProfileID)
        VALUES                      (@N, @EA, @PI);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NewEmailSettings]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewEmailSettings]
@PI INT, @A VARCHAR (MAX), @Pass VARCHAR (MAX), @H VARCHAR (50), @P VARCHAR (50), @ESsl BIT, @DM VARCHAR (50), @UDC BIT
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
        INSERT  INTO [EmailSettings] (ProfileID, Address, Password, Host, Port, EnableSsl, DeliveryMethod, UseDefailtCredentials)
        VALUES                      (@PI, @A, @Pass, @H, @P, @ESsl, @DM, @UDC);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NewGeneralExpense]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewGeneralExpense]
@CID INT, @N VARCHAR (MAX), @D VARCHAR (MAX), @PID INT, @Date DATETIME, @A MONEY, @R BIT
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
        INSERT  INTO [Expense] (CategoryID, [Name], [Description])
        VALUES                (@CID, @N, @D);
        INSERT  INTO [GeneralExpense] (ProfileID, ExpenseID, [Date], Amount, [Repeat], [Invoice/ReceiptCopy])
        VALUES                       (@PID, (SELECT SCOPE_IDENTITY()), @Date, @A, @R, NULL);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NewInvoice]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewInvoice] 
	@JID int,
	@INum nchar(11)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT  INTO [JobInvoice] (JobID, InvoiceNum)
        VALUES                (@JID, @INum);

        INSERT  INTO [Invoice] (InvoiceNum, [DateTime], VATRate, Paid)
        VALUES                 (@INum, (select GETDATE()),
								(select VATRate from Business), 0);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NewInvoiceDetailLine]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewInvoiceDetailLine]
	@INum nchar(11),
	@ID int,
	@Name nchar(50),
	@UnitCount int,
	@UnitCost int
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT  INTO [InvoiceLineItem] (InvoiceNum, [Name], UnitCount, UnitCost)
        VALUES       (@INum, @Name, @UnitCount, @UnitCost);

		Update [JobExpense]
		Set invoiced = 1
		from JobExpense, Expense
		Where JobExpense.ExpenseID = @ID
				And Expense.ExpenseID = JobExpense.ExpenseID
				And Expense.[Name] = @Name

		Update [TravelLog]
		Set invoiced = 1
		Where TravelLog.ExpenseID = @ID
			And TravelLog.Reason = @Name

		Update [WorkLog]
		Set invoiced = 1
		Where Worklog.LogItemID = @ID
			And Worklog.[Description] = @Name

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NewJob]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewJob]
@CI INT, @JT VARCHAR (MAX), @HR MONEY, @B MONEY, @SD DATETIME
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
        INSERT  INTO [Jobs] (ClientID, JobTitle, HourlyRate, Budget, StartDate)
        VALUES             (@CI, @JT, @HR, @B, @SD);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NewJobExpense]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewJobExpense]
@CID INT, @N VARCHAR (MAX), @D VARCHAR (MAX), @JID INT, @Date DATETIME, @A MONEY
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
        INSERT  INTO [Expense] (CategoryID, [Name], [Description])
        VALUES                (@CID, @N, @D);
        INSERT  INTO [JobExpense] (JobID, ExpenseID, [Date], Amount, [Invoice/ReceiptCopy], Invoiced)
        VALUES                   (@JID, (SELECT SCOPE_IDENTITY()), @Date, @A, NULL, 0);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NewProfile]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewProfile]
@FN VARCHAR (50), @LN VARCHAR (50), @CN VARCHAR (50), @EM VARCHAR (50), @CNum NCHAR (10), @PA VARCHAR (1000), @VATNum NCHAR (30), @DR MONEY, @UN VARCHAR (50), @Pass VARCHAR (MAX)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
        INSERT  INTO [Profile] (FirstName, LastName, CompanyName, EmailAddress, ContactNumber, PhysicalAddress, VATNumber, DefaultHourlyRate, Active, Username, [Password])
        VALUES                (@FN, @LN, @CN, @EM, @CNum, @PA, @VATNum, @DR, 1, @UN, @Pass);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NewTravelExpense]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewTravelExpense]
	@F varchar(Max),
	@T varchar(Max),
	@R varchar(Max),
	@OKM decimal(12, 2),
	@CKM decimal(12, 2),
	@VID int,
	@JID int
AS
BEGIN


    INSERT  INTO [TravelLog] ([From], [To], Reason, OpeningKMs, ClosingKMs, VehicleID, JobID, Invoiced)
    VALUES (@F, @T, @R, @OKM, @CKM, @VID, @JID, 0);

	END
GO
/****** Object:  StoredProcedure [dbo].[SP_NewVehicle]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewVehicle]
	@N varchar(30),
	@FC money,
	@MC money,
	@FxC money,
	@PID int,
	@CC money
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
    INSERT  INTO [Vehicle] ([Name], SARSFuelCost, SARSMaintenceCost, SARSFixedCost, ProfileID, ClientCharge)
    VALUES (@N, @FC, @MC, @FxC, @PID, @CC);

		COMMIT TRANSACTION 
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_NewWorkLogItem]    Script Date: 2019/07/03 17:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewWorkLogItem]
@JID INT, @D VARCHAR (MAX), @ST DATETIME, @ET DATETIME
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
        INSERT  INTO [Worklog] ([Description], StartTime, EndTime, Invoiced)
        VALUES                (@D, @ST, @ET, 0);
        INSERT  INTO [JobHours] (JobID, LogItemID)
        VALUES                 (@JID, (SELECT @@IDENTITY
                                       FROM   Worklog));
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
    END CATCH
END

GO
USE [master]
GO
