@model Model.Profile

@{
    ViewBag.Title = "Logout";
    Layout = "";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link href="/Theam/img/brand/favicon.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="/Theam/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="/Theam/vendor/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <!-- Argon CSS -->
    <link type="text/css" href="/Theam/css/argon.css?v=1.0.0" rel="stylesheet">
</head>

<div style="width:800px; margin:0 auto;">
    <h2>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <i class="ni ni-user-run"></i>
        Loging You Out...
    </h2>
    </div>

    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="/Theam/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/Theam/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Optional JS -->
    <script src="/Theam/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="/Theam/vendor/chart.js/dist/Chart.extension.js"></script>
    <!-- Argon JS -->
    <script src="/Theam/js/argon.js?v=1.0.0"></script>
