@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"http://sict-iis.nmmu.ac.za/TaxApp/>
    <title>Help - Tax App</title>

    <meta charset="utf-8"http://sict-iis.nmmu.ac.za/TaxApp/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link href="http://sict-iis.nmmu.ac.za/TaxApp/Theam/img/brand/favicon.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="http://sict-iis.nmmu.ac.za/TaxApp/Theam/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="http://sict-iis.nmmu.ac.za/TaxApp/Theam/vendor/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <!-- Argon CSS -->
    <link type="text/css" href="http://sict-iis.nmmu.ac.za/TaxApp/Theam/css/argon.css?v=1.0.0" rel="stylesheet">
</head>
<body>
    <div class="header bg-gradient-primary py-7 py-lg-8">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6">
                        <h1 class="text-white">Tax App</h1>
                        <a href="http://sict-iis.nmmu.ac.za/TaxApp/Home/Index"
                           class="btn btn-white">Return Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid mt--7">
        <div class="row">

            <div class="col-lg-12 col-md-12">
                <div class="card shadow">
                    <div class="card-header bg-transparent" data-toggle="collapse" href="#Hours">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Dashboard</h3>
                            </div>
                            <div class="col text-right">
                                <i class="ni ni-bold-down"></i>
                            </div>
                        </div>
                    </div>
                    <div id="Hours" class="panel-collapse collapse">
                        <div class="card-body">
                            <p>The dashboard serves as the home page of Tax App. It aims to give you a glimpse of information regarding your business. The dashboard includes income and expenses for the past 30 days, current jobs, unpaid invoices, recent expenses and a summary of recent Tax and VAT periods.</p>
                            <img height="auto" width="100%" src="http://sict-iis.nmmu.ac.za/TaxApp/HelpIMG/Dashboard.png"http://sict-iis.nmmu.ac.za/TaxApp/>
                            <p>The dashboard and most other pages are flanked by the menu, which gives you access to the different features of tax app.</p>
                            <p>Search, notifications and your profile are located in the top right of most pages.</p>
                        </div>
                    </div>
                </div>
                <br />
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="card shadow">
                    <div class="card-header bg-transparent" data-toggle="collapse" href="#Jobs">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Jobs</h3>
                            </div>
                            <div class="col text-right">
                                <i class="ni ni-bold-down"></i>
                            </div>
                        </div>
                    </div>
                    <div id="Jobs" class="panel-collapse collapse">
                        <div class="card-body">
                            <p>The job detail page contains all the information regarding a particular job. Job details are accessed by, selecting jobs from the menu followed by 'Details' on a job summary card. </p>
                            <img height="auto" width="100%" src="http://sict-iis.nmmu.ac.za/TaxApp/HelpIMG/Job.png"http://sict-iis.nmmu.ac.za/TaxApp/>
                            <p>
                                The header of the page contains the job title, client and dates. The client can be clicked to access the client details page.<br />
                                The following three cards provide a summary of the job details.<br />
                                The summary is followed by sections for hours, expenses, vehicle travel log and invoices. To top right of a section is the option to add a new item to a particular section.<br />
                                By selecting 'Start a new session' for hours' you can have your time automatically recorded. Simply start the session before you start working, give it a name. Then end the session when you're done, your hours will automatically be recorded.<br />
                                The actions at the bottom of the page give you access to edit and sharing functions.
                            </p>
                        </div>
                    </div>
                </div>
                <br />
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="card shadow">
                    <div class="card-header bg-transparent" data-toggle="collapse" href="#Income">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Income</h3>
                            </div>
                            <div class="col text-right">
                                <i class="ni ni-bold-down"></i>
                            </div>
                        </div>
                    </div>
                    <div id="Income" class="panel-collapse collapse">
                        <div class="card-body">
                            <p>The income page list all Invoices grouped by paid and unpaid.</p>
                                <img height="auto" width="100%" src="http://sict-iis.nmmu.ac.za/TaxApp/HelpIMG/Income.png"http://sict-iis.nmmu.ac.za/TaxApp/>
                                <p>Selecting view gives you access to the invoice along with the option to mark it as paid, print, download and share it.</p>
                        </div>
                    </div>
                </div>
                <br />
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="card shadow">
                    <div class="card-header bg-transparent" data-toggle="collapse" href="#Expenses">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Expenses</h3>
                            </div>
                            <div class="col text-right">
                                <i class="ni ni-bold-down"></i>
                            </div>
                        </div>
                    </div>
                    <div id="Expenses" class="panel-collapse collapse">
                        <div class="card-body">
                            <p>The expense page list expense details, grouped by general, job and vehicle travel, View all from each group by selecting the link in the bottom left of each page.</p>
                            <img height="auto" width="100%" src="http://sict-iis.nmmu.ac.za/TaxApp/HelpIMG/Expense.png"http://sict-iis.nmmu.ac.za/TaxApp/>
                            <p>
                                To view the details of an expense select 'Details' to the left of each card.<br />
                                This gives you access to Actions for that expense, including edit and the ability to add an invoice or receipt copy.<br />
                                A general expense can also be repeated.  These occurrences are grouped with a link to view all located in actions.<br />
                            </p>
                        </div>
                    </div>
                </div>
                <br />
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="card shadow">
                    <div class="card-header bg-transparent" data-toggle="collapse" href="#Tax">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Tax</h3>
                            </div>
                            <div class="col text-right">
                                <i class="ni ni-bold-down"></i>
                            </div>
                        </div>
                    </div>
                    <div id="Tax" class="panel-collapse collapse">
                        <div class="card-body">
                            <p>The tax centre is where details regarding your income tax is located.</p>
                            <img height="auto" width="100%" src="http://sict-iis.nmmu.ac.za/TaxApp/HelpIMG/Tax.png"http://sict-iis.nmmu.ac.za/TaxApp/>
                            <p>
                                The tax centre list net income, your estimated tax bracket and estimated tax owed for the selected tax period in the top three cards.<br/>
                                Below that is a section that lists the income received for that period.<br />
                                Flowed by actions that allow you to change the tax period, share the period with your consultant (This allows them access to all the same information on this page), edit the current period or create a new one.<br />
                            </p>
                        </div>
                    </div>
                </div>
                <br />
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="card shadow">
                    <div class="card-header bg-transparent" data-toggle="collapse" href="#Vat">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">VAT</h3>
                            </div>
                            <div class="col text-right">
                                <i class="ni ni-bold-down"></i>
                            </div>
                        </div>
                    </div>
                    <div id="Vat" class="panel-collapse collapse">
                        <div class="card-body">
                            <p>The VAT centre is where details regarding your VAT received and VAT paid is located.</p>
                            <img height="auto" width="100%" src="http://sict-iis.nmmu.ac.za/TaxApp/HelpIMG/VAT.png"http://sict-iis.nmmu.ac.za/TaxApp/>
                            <p>
                                The VAT centre list total VAT received, total VAT paid, and the estimated VAT owed for the selected VAT period in the top three cards.<br />
                                Below that are sections that list the VAT received on income and VAT paid on expense for that period.<br />
                                Flowed by actions that allow you to change the VAT period, share the period with your consultant (This allows them access to all the same information on this page), edit the current period or create a new one.
                            </p>
                        </div>
                    </div>
                </div>
                <br />
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="card shadow">
                    <div class="card-header bg-transparent" data-toggle="collapse" href="#Reports">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Reports</h3>
                            </div>
                            <div class="col text-right">
                                <i class="ni ni-bold-down"></i>
                            </div>
                        </div>
                    </div>
                    <div id="Reports" class="panel-collapse collapse">
                        <div class="card-body">
                            <p>Reports are selected on the report page, accessible from the menu.</p>
                            <img height="auto" width="100%" src="http://sict-iis.nmmu.ac.za/TaxApp/HelpIMG/REPORT.png"http://sict-iis.nmmu.ac.za/TaxApp/>
                            <p>
                                You can filter reports by a variable and or the date depending on the report in the first card.<br />
                                This is followed by the report it's self. If an alternative view is available for the report, such as a bar graph or line graph, a toggle will appear to the left.<br />
                                Finally, in the actions card, you can download or print the report.
                            </p>
                        </div>
                    </div>
                </div>
                <br />
            </div>

            </div>

        <hr />

        <!-- Footer -->
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        <p>&copy; @DateTime.Now.Year - Tax App</p>
                    </div>
                </div>
                <div class="col-xl-6">
                    <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                        <li class="nav-item">
                            <a href="http://sict-iis.nmmu.ac.za/TaxApp/Home/Index" class="nav-link">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

<!-- Argon Scripts -->
<!-- Core -->
<script src="http://sict-iis.nmmu.ac.za/TaxApp/Theam/vendor/jquery/dist/jquery.min.js"></script>
<script src="http://sict-iis.nmmu.ac.za/TaxApp/Theam/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- Optional JS -->
<script src="http://sict-iis.nmmu.ac.za/TaxApp/Theam/vendor/chart.js/dist/Chart.min.js"></script>
<script src="http://sict-iis.nmmu.ac.za/TaxApp/Theam/vendor/chart.js/dist/Chart.extension.js"></script>
<!-- Argon JS -->
<script src="http://sict-iis.nmmu.ac.za/TaxApp/Theam/js/argon.js?v=1.0.0"></script>