@model Model.Job

@{
    ViewBag.Title = "Jobs";
}

<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">

            <div class="row">
                <div class="col-xl-4">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">Job Title</h3>
                                </div>
                                <div class="col text-right">
                                    <a href="#!" class="btn btn-sm btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            Budget Used:
                                        </th>
                                        <td></td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="mr-2">60%</span>
                                                <div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Hours Worked:
                                        </th>
                                        <td></td>
                                        <td>
                                            5,480
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Expenses:
                                        </th>
                                        <td></td>
                                        <td>
                                            5,480
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Income:
                                        </th>
                                        <td></td>
                                        <td>
                                            5,480
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">Job Title</h3>
                                </div>
                                <div class="col text-right">
                                    <a href="#!" class="btn btn-sm btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            Budget Used:
                                        </th>
                                        <td></td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="mr-2">60%</span>
                                                <div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Hours Worked:
                                        </th>
                                        <td></td>
                                        <td>
                                            5,480
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Expenses:
                                        </th>
                                        <td></td>
                                        <td>
                                            5,480
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Income:
                                        </th>
                                        <td></td>
                                        <td>
                                            5,480
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">New Title</h3>
                                </div>
                                <div class="col text-right">
                                    <a href="#!" class="btn btn-sm btn-primary">New Job</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">

    <div class="row mt-5">
        <div class="col-xl-4">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Invoice Title</h3>
                        </div>
                        <div class="col text-right">
                            <a href="#!" class="btn btn-sm btn-primary">Details</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <tbody>
                            <tr>
                                <th scope="row">
                                    Invoice Num:
                                </th>
                                <td></td>
                                <td>
                                    5,480
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Client:
                                </th>
                                <td></td>
                                <td>
                                    5,480
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Date:
                                </th>
                                <td></td>
                                <td>
                                    No
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Price:
                                </th>
                                <td></td>
                                <td>
                                    No
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Statuse:
                                </th>
                                <td></td>
                                <td>
                                    No
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Invoice Title</h3>
                        </div>
                        <div class="col text-right">
                            <a href="#!" class="btn btn-sm btn-primary">Details</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <tbody>
                            <tr>
                                <th scope="row">
                                    Invoice Num:
                                </th>
                                <td></td>
                                <td>
                                    5,480
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Client:
                                </th>
                                <td></td>
                                <td>
                                    5,480
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Date:
                                </th>
                                <td></td>
                                <td>
                                    No
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Price:
                                </th>
                                <td></td>
                                <td>
                                    No
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Statuse:
                                </th>
                                <td></td>
                                <td>
                                    No
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



