@model Model.TrackVATViewModel

@{
    ViewBag.Title = "VAT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VAT</h2>

<div>
    <h4>TrackVATViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
